body {
  color: $app-text-color;
  font-family: $app-font-family;
  font-size: $app-font-size;
}

h1 { font-size: 24px; line-height: 32px; font-weight: 300; }
h2 { font-size: 1.8em; margin-bottom: 12px; font-weight: 300; }
h3 { font-size: 1.6em; margin-bottom: 16px; font-weight: 300; }
h4 { font-size: 1.4em; margin-bottom: 14px; font-weight: 300; }
h5 { font-size: 1.2em; margin-bottom: 12px; font-weight: 300; }
h6 { font-size: 1.1em; margin-bottom: 11px; font-weight: 300; }
