@import 'colors';
@import 'general';
@import 'input-field';
@import 'z-index';

$dropdown-item-padding: 5px 6px;
$max-height: 180px;

.ui-dropdown__list-block {
  left: 0;
  position: absolute;
  right: 0;
  z-index: $z-dropdown-list;
}

.ui-dropdown__list {
  background-color: $white;
  border: 1px solid $border-color;
  box-sizing: border-box;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  color: $grey-dark;
  cursor: pointer;
  max-height: $max-height;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #EEE;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-radius:4px;
  }

  .common-input--label-inline & {
    left: $grid-margin;
  }
}

.ui-dropdown__list__item {
  padding: $dropdown-item-padding;
}

.ui-dropdown__list__item--highlighted {
  background-color: #E6E9E7;
}

.ui-dropdown__action {
  background-color: $white;
  border: 1px solid $border-color;
  border-top: none;
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  padding: $dropdown-item-padding;
  position: absolute;
  width: 100%;
  z-index: 10;

  &:hover {
    background-color: $blue-bright;
    color: $white;
  }
}
