.component-showcase {
  align-items: center;
  background-image: linear-gradient(to bottom, #f3f8fe, #fdf5f5);
  display: flex;
  flex-direction: column;
  padding: 120px 0 0;

  &__image {
    width: 80%;
    padding: 0 10%;
  }
}
