@import "./../../../style-config/colors";
.custom-drag-layer { // Need to move it to the configurable-items.style.js to the wrapper
  .configurable-item-row {
    background-color: $grey-light;
    border: none;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;

    .configurable-item-row__icon {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    .configurable-item-row__content-wrapper {
      visibility: visible;
    }
  }
}
