@import 'colors';
@import 'general';
@import 'input-field';

$notification-green: #46B237;
$notification-blue: #2BA3D2;

.ui-notification {
  color: white;
  width: 100%;
}

.ui-notification__content {
  box-sizing: border-box;
  height: ($input-common-height - 2) + ($grid-margin * 2);
  margin: 0 auto;
  padding: $grid-margin;
}

.ui-notification__icon,
.ui-notification__info,
.ui-notification__action {
  display: inline-block;
  position: relative;
}

.ui-notification__icon {
  text-align: center;
  float: left;
  top: -5px
}

.ui-notification__title {
  font-weight: bold;
}

.ui-notification__info {
  margin-left: $grid-margin;
}

.ui-notification__action {
  float: right;
}

.ui-notification__action__button {
  background-color: white;
  border: none;
}

.ui-notification--info {
  background-color: $notification-blue;
}

.ui-notification--warning {
  background-color: $warning;
}

.ui-notification--new {
  background-color: $notification-green;
}

.ui-notification__action__button--info {
  color: $notification-blue;
}

.ui-notification__action__button--warning {
  color: $warning;
}

.ui-notification__action__button--new {
  color: $notification-green;
}
