@import 'colors';
@import 'general';
@import 'input-field';

.ui-notification {
  color: white;
  width: 100%;
}

.ui-notification__content {
  box-sizing: border-box;
  height: ($input-common-height - 2) + ($grid-margin * 2);
  margin: 0 auto;
  padding: $grid-margin ($grid-margin * 2);
}

.ui-notification__icon,
.ui-notification__info,
.ui-notification__action {
  display: inline-block;
  position: relative;
}

.ui-notification__icon {
  text-align: center;
  float: left;
  top: -5px
}

.ui-notification__title {
  font-weight: bold;
}

.ui-notification__info {
  margin-left: $grid-margin;
}

.ui-notification__action {
  background-color: white;
  border: none;
  float: right;
}

.ui-notification--info {
  background-color: $info;
}

.ui-notification--warning {
  background-color: $warning;
}

.ui-notification--new {
  background-color: $new;
}

.ui-notification__action--info {
  color: $info;
}

.ui-notification__action--warning {
  color: $warning;
}

.ui-notification__action--new {
  color: $new;
}
