@import 'colors';
@import 'general';
@import 'mixins';
@import 'z-index';

.ui-flash__flash {
  bottom: 0px;
  right: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: $z-flash;
}

.ui-flash__flash-enter {
  opacity: 0;
  transform: scale(0,1);
}

.ui-flash__flash-enter.ui-flash__flash-enter-active {
  opacity: 1;
  transform: scale(1,1);
  transition: all 500ms ease;
}

.ui-flash__flash-leave {
  opacity: 1;
  transform: scale(1,1);
}

.ui-flash__flash-leave.ui-flash__flash-leave-active  {
  opacity: 0;
  transform: scale(0,1);
  transition: all 500ms ease;
}

.ui-flash__slider-enter {
  opacity: 0;
}

.ui-flash__slider-enter.ui-flash__slider-enter-active {
  opacity: 1;
  transition: all 400ms ease;
}

.ui-flash__slider-leave {
  opacity: 1;
  transition: all 400ms ease;
}

.ui-flash__slider-leave.ui-flash__slider-leave-active  {
  opacity: 0;
}


  // &.show-notification {
  //   @include animation(showNotification 0.5s 1 ease forwards 0.1s);
  //
  //   .slider {
  //     @include animation(fadeInSlider 0.3s 1 ease forwards 0.4s);
  //   }
  // }


  //
  //
  // &.warning {
  //   background: #FFAB00;
  //   .slider-icon {
  //     background-position: 0 -100px;
  //   }
  // }
  //
  // &.error {
  //   background: #D63F40;
  //
  //   .slider-icon {
  //     background-position: 0 -50px;
  //   }
  // }
//
//   &.success {
//     background: #42AE42;
//
//     .slider-icon {
//       background-position: 0 0;
//     }
//
//     .close {
//       display: none;
//     }
//   }
// }

.ui-flash__mode--success {
  background: #42AE42;
}

.ui-flash__title {
  color: white;
  margin: 0 auto;
  max-width: $app-max-width - 200;
  min-width: $app-width - 200;
  padding: 20px 0;
  position: relative;
  width: 95%
}

.ui-flash__slider {
  background-color: green;
  font-size: 13px;
  padding: 0 60px;
  display: inline-block;
  line-height: 18px;
  padding-right: 30px;
}

//
// &.hide-notification {
//   @include animation(hideNotification 0.3s 1 ease-out forwards);
//
//   margin-left: -50%;
//   width: 100%;
// }
//
// .slider-icon {
//   background: transparent image-url('notice-icons.png') no-repeat 0 -150px;
//   height: 50px;
//   margin-top: -25px;
//   position: absolute;
//   top: 50%;
//   width: 50px;
// }
//
//
// .close {
//   position: absolute;
//   display: block;
//   height: 20px;
//   width: 20px;
//   right: 15px;
//   top: 50%;
//   margin-top: -10px;
//
//   &:before {
//     color: $white;
//     content: 'h';
//     display: block;
//     font-family: SageOneIcons;
//     font-size: 18px;
//     font-style: normal;
//     font-weight: normal;
//     line-height: 14px;
//     margin: 3px 0 0 2px;
//     -webkit-font-smoothing: antialiased;
//   }
//
//   &:hover:before {
//     color: white;
//   }
