@import 'colors';

.demo-menu {
  background-color: $white;

  &__header {
    background-image: url('/assets/images/carbon_logo-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 57px;
    width: 250px;
  }

  &__menu {
    height: calc(100% - 250px);
    overflow: scroll;

    margin: 0;
    width: 100%;
    padding: 20px 0;
  }

  .carbon-sidebar__sidebar {
    background-color: $white;
    border: none;
  }

  .carbon-sidebar-header {
    border: none;
  }

  &__buttons {
    .carbon-button {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 100%;

      &:first-child {
        margin-bottom: 16px;
      }
    }
  }
}
