@import 'colors';

.demo-menu {
  background-color: $white;

  &__header {
    background-image: url('/assets/images/carbon_logo-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 57px;
    width: 150px;
  }

  &__menu {
    margin: 0;
    padding: 20px 0;
    width: 100%;
  }

  .carbon-sidebar__sidebar {
    background-color: $white;
    box-shadow: none;
    border: none;
  }

  .carbon-sidebar-header {
    border: none;
  }

  &__buttons {
    .carbon-button {
      margin: 8px 0;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 100%;
    }
  }
}
