@import "./../../../style-config/colors";

.carbon-submenu-block {
  padding: 5px 0 !important;
  margin: 10px 0 5px;

  .carbon-menu--primary & {
    background-color: $grey-dark-blue-10;
  }

  .carbon-menu--secondary & {
    background-color: $grey-dark-blue-90;
  }

  .carbon-menu-item.carbon-link__anchor,
  .carbon-menu-item {
    .carbon-menu--primary & {
      background-color: $grey-dark-blue-10;
    }

    .carbon-menu--secondary & {
      background-color: $grey-dark-blue-90;
    }
  }
}
