@import 'colors';
@import 'mixins';

.ui-animated-menu-button {
  @include border-radius(100%);
  @include box-shadow(0 5px 8px rgba(0,0,0,0.2));
  background-color: $magenta;
  color: $white;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  touch-action: manipulation;

/***** Button Label Styles ****/

  .label {
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .icon-add {
    display: inline-block;
    left: 50%;
    margin-left: -7px;
    position: relative;
    top: 14px;

    &::before {
      font-size: 14px;
      font-weight: bold;
    }
  }

.content {
  display: none;
}
/******** Expanded Button Styles ****/

  &:hover,
  &.hover {
    background-color: $magenta-dull;
    @include transition(background-color 0.1s 0.15s);

    > .content {
      @include transform(scale(1));
      @include transition-delay(0.1s, 0.15s);
      opacity: 1;
    }
  }

  &.closed > .content {
    @include transform(scale(0));
    @include transition-delay(0.1s, 0.15s);
    opacity: 0;
  }

  > .content {
    @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.2));
    @include border-radius(5px 25px 5px 5px);
    @include transform(scale(0));
    @include transition(transform 0.17s ease, opacity 0.1s ease);
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    background-color: inherit;
    display: block;
    opacity: 0;
    padding: 25px 40px 30px;
    position: absolute;
    top: 0;
    z-index: 310;

    @at-root {
      /******** Direction Option Styles ***/

      .ui-animated-menu-button--left#{&} {
        @include transform-origin(top right);
        right: 0;
      }

      .ui-animated-menu-button--right#{&} {
        @include transform-origin(top left);
        left: 0;
      }

      /******* Size Options ****/

      .ui-animated-menu-button--small#{&} {
        min-width: 150px;
      }

      .ui-animated-menu-button--smed#{&} {
        min-width: 400px;
      }

      .ui-animated-menu-button--medium#{&} {
        min-width: 550px;
      }

      .ui-animated-menu-button--mlarge#{&} {
        min-width: 700px;
      }

      .ui-animated-menu-button--large#{&} {
        min-width: 1050px;
      }
    }

    .icon-close {
      display: none;
      float: right;
    }

    .ui-pod {
      border: none;
      background-color: inherit;
      padding-top: 0;
    }

    .title {
      color: $white;
      border-bottom: 1px solid #D24675;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 10px;
    }
  }
}
