.demo-info-tile {
  display: inline-block;
  .carbon-pod__content {
    @media (min-width: 800px) {
      height: 200px;
    }
  }
  margin: 1.5%;
  vertical-align: top;
  width: 92%;
  @media (min-width: 800px) {
    width: 30.333%;
  }
}

.demo-info-tile__content {
  text-align: center;
}

.demo-info-tile__image {
  margin-bottom: 35px;

  .carbon-portrait__img {
    float: none;
  }
}

.demo-info-tile__heading {
  font-size: 18px;
}

.demo-info-tile__description {
  font-size: 16px;
}
