@import 'general';

$max-columns: 12 !default;

.carbon-row {
  clear: both;
  margin-bottom: -($grid-margin);
  margin-left: -($grid-margin);
  position: relative;

  .carbon-row__column {
    box-sizing: border-box;
    float: left;
    margin-bottom: $grid-margin;
    min-height: 1px;
    padding-left: $grid-margin;
    width: 100%;

    &.carbon-row__column--align-center,
    &.carbon-row__column--align-middle {
      text-align: center;
    }

    &.carbon-row__column--align-right {
      text-align: right;
    }
  }

  @for $i from 2 through $max-columns {
    $width: 100% / $i;

    &.carbon-row--columns-#{$i} {
      > .carbon-row__column {
        width: $width;

        &:nth-child(#{$i}n+1) {
          clear: both;
        }
      }

      // span columns:
      @for $y from 2 through $i {
        @if $y != $i {
          > .carbon-row__column--span-#{$y} {
            width: (100% / $i) * $y;
          }
        }
      }

      // offset columns:
      @for $y from 1 through $i {
        @if $y != $i {
          > .carbon-row__column--offset-#{$y} {
            margin-left: $width * $y;
          }
        }
      }
    }
  }

  // Clearfix:
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
