.demo-share-config {
  display: flex;
}

.demo-share-config__button {
  border-radius: 0;
}

.demo-share-config__input {
  width: 100%;

  .carbon-textbox__input {
    border-radius: 0;
    border-left: 0;
  }
}
