# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                        @Sage/carbon

# The Carbon Dev team are responsible for reviewing Pull Requests
# that contain any change modifying JS, JSX, TS or TSX files
*.js                     @Sage/carbon-dev
*.ts                     @Sage/carbon-dev

# The Carbon QA team are responsible for reviewing Pull Requests
# that contain any changes to files within the playwright
# directories or any test files relating to them 
*.pw.tsx                 @Sage/carbon-qa
*.test-pw.tsx            @Sage/carbon-qa
/playwright/             @Sage/carbon-qa
playwright-ct.config.ts  @Sage/carbon-qa

# Skills files must be approved by a Carbon Admin because they inject content into the agent's context and responses,
# so we want to ensure they are carefully reviewed.
/skills/                 @Sage/carbon-admin

# .github/workflows file changes must be approved by a Carbon Admin.
/.github/workflows/       @Sage/carbon-admin

# Codeowners file changes must be approved by a Carbon Admin.
/.github/CODEOWNERS       @Sage/carbon-admin
