@import 'colors';

$sidebar-border-color: lighten($border-color, 8%);

.ui-sidebar-header {
  background-color: #FFFFFF;
  border-bottom: solid 4px $sidebar-border-color;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}
