@import './../../../style-config/colors';

$sidebar-border-color: lighten($border-color, 8%);

.carbon-sidebar-header {
  background-color: $white;
  border-bottom: solid 4px $sidebar-border-color;
  box-sizing: content-box;
  margin-left: -20px;
  padding: 20px;
  position: relative;
  top: -20px;
  width: 100%;
}
