@import "./../../style-config/colors";
@import "./../../style-config/z-index";

.carbon-dropdown__list-item--no-results {
  font-style: italic;
}

.carbon-dropdown__input--filtered {
  color: $grey-dark-blue-80;
}

.carbon-dropdown-filter--writeable {
  .carbon-icon.icon-error {
    right: 6px;
  }
}

.carbon-dropdown__action {
  background-color: $white;
  border: 1px solid $border-color;
  border-top: none;
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  padding: 6px 6px 5px 6px;
  position: absolute;
  width: 100%;
  z-index: $z-dropdown-list;

  .carbon-link__content {
    color: $grey-dark-blue;
  }

  &.carbon-link__anchor {
    &:hover {
      background-color: #E6E9E7;

      .carbon-link__content {
        text-decoration: none;
      }
    }
  }
}
