{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "array-bracket-spacing": "off",
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "func-names": "off",
    "function-paren-newline": "off",
    "guard-for-in": "off",
    "import/extensions": ["off", "never"],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "indent": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/mouse-events-have-key-events": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "jsx-quotes": "off",
    "linebreak-style": "off",
    "max-len": "off",
    "max-params": ["error", 5],
    "multiline-ternary": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": "off",
    "no-trailing-spaces": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "prefer-const": ["error", { "destructuring": "any" }],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": 0,
    "react/no-this-in-sfc": 0,
    "react/no-unescaped-entities": "off",
    "react/jsx-curly-spacing": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-max-props-per-line": "off",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/jsx-wrap-multilines": "off",
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "warn",
    "react/prop-types": "warn",
    "react/require-default-props": "off",
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-methods",
          "lifecycle",
          "/^on.+$/",
          "/^(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "everything-else",
          "/^render.+$/",
          "render"
        ]
      }
    ],
    "semi": "off",
    "semi-spacing": "off",
    "space-before-function-paren": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // Copy from airbnb with UNSAFE_ ignore added
    "camelcase": [
      "error",
      {
        "allow": ["^UNSAFE_"],
        "properties": "never",
        "ignoreDestructuring": false
      }
    ],
    "no-restricted-imports": ["error", { "paths": [{
      "name": "styled-system",
      "importNames": ["color"],
      "message": "Please use the default export from 'src/style/utils/color' instead."
      }]
    }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "react-hooks"],
  "globals": {
    "jest": false,
    "global": false,
    "process": false,
    "test": false
  }
}

