node_modules/
coverage/
*.swp
*.swo
demo/config.js
demo/utils/generated/*.js
demo/utils/generated/**/*
deploy/assets/**/*
deploy/docs
.DS_Store
.browser-preferences/
.idea
yarn.lock
lib
src/style-config/assets.scss
cypress/fixtures/
debug.log
cypress/screenshots