node_modules/
coverage/
*.swp
*.swo
demo/config.js
demo/utils/generated/*.js
demo/utils/generated/**/*
deploy/assets/**/*
deploy/docs
deploy/storybook
.DS_Store
.browser-preferences/
.idea
yarn.lock
lib
esm
src/style-config/assets.scss
storybook-static/
.swc/
bundle-stats/

playwright/test-results
playwright/test-report
playwright/.cache

src/components/tokens-wrapper/__internal__/static-tokens/
.hintrc
