node_modules/
coverage/
*.swp
*.swo
demo/config.js
demo/utils/generated/*.js
demo/utils/generated/**/*
deploy/assets/**/*
deploy/docs
deploy/storybook
.DS_Store
.browser-preferences/
.idea
yarn.lock
lib
src/style-config/assets.scss
cypress/fixtures/example*
cypress/screenshots
.vscode/

#Allure reports
allure-report
allure-results