*.swo
*.swp
.DS_Store
.browser-preferences/
.git
.github
.idea
.travis.yml
.vscode
CONTRIBUTING.md
gulpfile.js
jest.config.ts
cla
docs
__mocks__
coverage
demo
deploy
logo
node_modules
script
src
yarn.lock
