*.swo
*.swp
.DS_Store
.browser-preferences/
.git
.github
.idea
.travis.yml
.vscode
CONTRIBUTING.md
gulpfile.js
jest.conf.json
cla
docs
__mocks__
coverage
demo
deploy
logo
node_modules
script
src
yarn.lock
.assets

.storybook
change_log
cypress
release_notes
rfcs
.eslintignore
.eslintrc
.nvmrc
.prettierignore
.prettierrc.json
babel.config.js
CHANGELOG-OLD.md
check_version.js
cypress.env.json
cypress.json
svgTransform.js
tsconfig.json
tslint.json
