@import "colors";
@import "../../demo-variables";

.chrome {
  background-color: $grey-dark-blue-5;
  @media(min-width: $menu-popout-point) {
    padding-left: 290px;
  }
  .demo-menu {
    @media(min-width: $menu-popout-point) {
      position: relative;
    }
  }
}
