.chrome {
  &__menu {
    @media (min-width: 1024px) {
      float: left;
      max-width: 244px;
      position: relative;
      width: 17.84%;
    }
    .carbon-sidebar__sidebar {
      @media (min-width: 1024px) {
        position: relative;
        width: auto;
      }
    }
  }
  &__content {
    @media (min-width: 1024px) {
      float: right;
      width: 82.16%;
    }
  }
  margin: 0 auto;
}
