version: '3.2'
services:
  # Install cypress and cache the binary to a volume that is shared with all replicas
  # docker-compose --profile install up
  install:
    image: "cypress/browsers:node16.14.2-slim-chrome103-ff102"
    command: npx cypress install
    working_dir: /e2e
    volumes:
      - cache:/root/.cache/Cypress
      - ../:/e2e
    profiles:
      - install
  # Open Cypress and attach to a X11 server
  # docker-compose --profile open up
  # Unable to open X display? ensure you have added 127.0.0.1 to xhost allow list
  # xhost +127.0.0.1
  open:
    image: "cypress/browsers:node16.14.2-slim-chrome103-ff102"
    environment:
      - CYPRESS_baseUrl=http://host.docker.internal:9001/
      - DISPLAY=host.docker.internal:0
    command: npx cypress open
    working_dir: /e2e
    volumes:
      - ../:/e2e
      - cache:/root/.cache/Cypress/
    profiles:
      - open
  # Run Cypress tests using the Cypress dashboard
  # CYPRESS_RECORD_KEY=FAKE-FAKE-FAKE-FAKE-FAKE BUILD_ID=$(uuidgen) docker-compose --profile run up
  run:
    deploy:
      # Change this value to adjust the parallelisation
      replicas: 3
    image: "cypress/browsers:node16.14.2-slim-chrome103-ff102"
    environment:
      - CYPRESS_baseUrl=http://host.docker.internal:9001/
      - CYPRESS_RECORD_KEY=${CYPRESS_RECORD_KEY}
    command: npx cypress run --record --parallel --browser chrome --ci-build-id ${BUILD_ID}
    # Run specific Cypress test(s) using the Cypress dashboard
    # command: npx cypress run --record --parallel --browser chrome --ci-build-id ${BUILD_ID} --spec cypress/features/regression/accessibility/accessibility*
    working_dir: /e2e
    volumes:
      - ../:/e2e
      - cache:/root/.cache/Cypress/
    profiles:
      - run
volumes:
  cache: