@import 'colors';

.component-preview {
  &__interaction {
    display: flex;
  }
  &__component-wrapper {
    background-color: $grey-dark-blue-10;
    margin-bottom: 30px;
    min-height: 40px;
    padding: 20px;
  }
  &__controls {
    background-color: $grey-dark-blue-10;
    padding: 20px;
    width: 33%;
  }
  &__code {
    background-color: $grey-dark-plus;
    color: $white;
    padding: 20px;
    white-space: pre;
    width: 67%;
  }

  .demo-stubbed-element {
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;

    &:nth-of-type(8n+1) {
      background-color: $grey-dark-blue-20;
      color: $black;
    }

    &:nth-of-type(8n+2) {
      background-color: $green-apple-20;
      color: $black;
    }

    &:nth-of-type(8n+3) {
      background-color: $blue-sky-20;
      color: $black;
    }

    &:nth-of-type(8n+4) {
      background-color: $grey-dark-blue-15;
      color: $black;
    }

    &:nth-of-type(8n+5) {
      background-color: $red-05;
      color: $black;
    }

    &:nth-of-type(8n+6) {
      background-color: $purple-20;
      color: $black;
    }

    &:nth-of-type(8n+7) {
      background-color: $green-apple-05;
      color: $black;
    }

    &:nth-of-type(8n) {
      background-color: $grey-dark-blue-30;
      color: $black;
    }
  }
}

.component-preview--carousel {
  .demo-stubbed-element {
    height: 100px;
    margin: 0.5%;
    padding: 20px;
    width: 24%;
  }
}

.component-preview--navigation-bar {
  .demo-stubbed-element {
    height: 30px;
    line-height: 30px;
    width: 100px;
  }
}

.component-preview--row {
  .demo-stubbed-element {
    box-sizing: border-box;
    height: 100px;
    margin-left: 2px;
    padding: 10px;
    width: 100%;
  }
  .carbon-row__column {
    &:nth-of-type(1) {
      .demo-stubbed-element {
        background-color: $blue-sky-20;
        color: $black;
      }
    }

    &:nth-of-type(2) {
      .demo-stubbed-element {
        background-color: $grey-dark-blue-20;
        color: $black;
      }
    }

    &:nth-of-type(3) {
      .demo-stubbed-element {
        background-color: $magenta-light;
        color: $black;
      }
    }
  }
}

.component-preview--sidebar {
  .demo-stubbed-element {
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
}

.component-preview--split-button {
  .demo-stubbed-element.demo-stubbed-element {
    background-color: transparent;
    color: $white;
    height: 30px;
    line-height: 30px;
    width: 100%;
  }
}

.component-preview--table-ajax,
.component-preview--table {
  .demo-stubbed-element {
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
  }
}

.component-preview--tabs {
  .demo-stubbed-element {
    line-height: 120px;
    margin-right: 1%;
    padding: 20px;
    width: 32.333%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
