@import 'colors';
@import "../../../demo-variables";

.component-preview {
  &__interaction {
    display: flex;
  }
  &__component-wrapper {
    background-color: $grey-dark-blue-10;
    margin-bottom: 30px;
    min-height: 40px;
    padding: 20px;
  }
  &__controls {
    background-color: $grey-dark-blue-10;
    padding: 20px;
    width: 33%;

    .carbon-textarea__input {
      height: 6em;
    }
  }
  &__code {
    background-color: $grey-dark-plus;
    color: $white;
    padding: 20px;
    white-space: pre;
    width: 67%;
  }

  .demo-stubbed-element {
    box-sizing: border-box;
    display: inline-block;
  }
}

.component-preview--carousel {
  .demo-stubbed-element .demo-stubbed-element {
    height: 100px;
    width: 25%;
  }
}

.component-preview--fieldset{
  .demo-stubbed-element.demo-stubbed-element {
    margin-top: 20px;
    width: 100%;
  }
}

.component-preview--flash{
  .carbon-flash {
    // required to cater for the side menu with the fixed positioning
    @media (min-width: $response-point-medium) {
      left: $menu-width;
    }
  }
}

.component-preview--navigation-bar {
  .demo-stubbed-element {
    height: 30px;
    line-height: 30px;
    width: 100px;
  }
}

.component-preview--row {
  .demo-stubbed-element {
    box-sizing: border-box;
    margin-left: 2px;
    width: 100%;
  }
}

.component-preview--sidebar {
  .demo-stubbed-element {
    margin-bottom: 20px;
    width: 100%;
  }
}

.component-preview--split-button {
  .demo-stubbed-element.demo-stubbed-element {
    background-color: transparent;
    color: $white;
    height: 30px;
    line-height: 30px;
    width: 100%;
  }
}

.component-preview--tabs {
  .demo-stubbed-element {
    margin-right: 1%;
    width: 32.333%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.component-preview--table,
.component-preview--table-ajax {
  .carbon-table-row.carbon-table-row {
    display: table-row;
    width: 100%;
  }
}

.component-preview--table,
.component-preview--table-ajax {
  .carbon-table {
    margin: auto;
    width: 837px;
  }
  .carbon-table-cell.carbon-table-cell {
    width: 63px;
  }
}

