@import "./../../../style-config/colors";
@import "./../../../style-config/mixins";
@import "./../../../style-config/tables";

.carbon-table-row:hover .common-input__input {
  border-color: $row-hover-input-border;
}

.carbon-table-row--clickable {
  cursor: pointer;
}

.carbon-table-row--highlighted .carbon-table-cell {
  background-color: $row-highlight-color !important;
  border-bottom-color: $blue-navy;
  position: relative;

  &:before {
    background-color: $blue-navy;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
  }
}

// need to work out how to do this and why its done

/**
 ${StyledTableCell} {
        background: transparent;
        border-color: white;
        color: white;
      }
*/

.carbon-table-row--selected .carbon-table-cell * {
  background: transparent;
  border-color: white;
  color: white;
}

.carbon-table-row--selected,
.carbon-table-row--selected:nth-child(odd),
.carbon-table-row--selected:hover {
  .carbon-table-cell {
    background-color: $blue-sky;
    border-bottom-color: $blue;
    color: white;
    position: relative;

    &:before {
      background-color: $blue;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      top: -1px;
      width: 100%;
    }
  }
}

.carbon-table-row--dragging {
  @include disable-text-selection;
}

.carbon-table-row--dragged {
  .carbon-table-cell {
    visibility: hidden;
  }

  + .carbon-table-row--dragging .carbon-table-cell {
    border-top: 1px solid $table-border-color;
  }
}

.custom-drag-layer {
  .carbon-table-row {
    background-color: $grey-light;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    display: block;

    .carbon-table-cell {
      background-color: $grey-light !important;
    }

    .configurable-item-row__content-wrapper {
      visibility: visible;
    }
  }
}
