@import "./../../../style-config/colors";
@import "./../../../style-config/mixins";
@import "./../../../style-config/tables";

.carbon-table-row:hover .common-input__input {
  border-color: $row-hover-input-border;
}

.carbon-table-row--clickable {
  cursor: pointer;
}

.carbon-table-row--highlighted .carbon-table-cell {
  background-color: $row-highlight-color !important;
  border-bottom-color: $blue-navy;
  position: relative;

  &:before {
    background-color: $blue-navy;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
  }
}

.carbon-table-row--selected .carbon-table-cell * {
  background: transparent;
  border-color: white;
  color: white;
}

.carbon-table-row--selected,
.carbon-table-row--selected:nth-child(odd),
.carbon-table-row--selected:hover {
  .carbon-table-cell {
    background-color: $blue-sky;
    border-bottom-color: $blue;
    color: white;
    position: relative;

    &:before {
      background-color: $blue;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      top: -1px;
      width: 100%;
    }
  }
}

.carbon-table-row--dragging {
  @include disable-text-selection;
}
