@import 'colors';
@import 'general';
@import "input-field";
@import 'mixins';
@import 'buttons';

.ui-button {
  background-color: $ui-button__background-color--secondary;
  border: $ui-button__border--secondary;
  border-radius: $ui-button__border-radius;
  box-sizing: border-box;
  color: $ui-button__text-color--secondary;
  cursor: pointer;
  display: inline-block;
  font-size: $app-font-size;
  font-weight: $ui-button__font-weight;
  height: $input-common-height;
  padding: $ui-button__padding;
  outline: none;
  text-decoration: none;

  &:focus {
    @include transition(box-shadow linear 0.1s)
    box-shadow: 0 0 6px rgba(25,99,246,0.6);
  }

  &:focus,
  &:hover {
    background-color: $ui-button__background-color--secondary--hover;
    border-color: $ui-button__border-color--secondary--hover;
    color: $ui-button__text-color--secondary--hover;
  }

  &:not(.ui-button--disabled):active {
    background-color: $ui-button__background-color--primary--active;
    background-color: $ui-button__background-color--secondary--active;
    border-color: $ui-button__border-color--secondary--active;
    color: $ui-button__text-color--secondary--active;
  }
}

.ui-button--primary {
  background-color: $ui-button__background-color--primary;
  border: $ui-button__border--primary;
  color: $ui-button__text-color--primary;

  &:focus,
  &:hover {
    background-color: $ui-button__background-color--primary--hover;
  }

  &:not(.ui-button--disabled):active {
    background-color: $ui-button__background-color--primary--active;
    border-color: $ui-button__border-color--primary--active;
    color: $ui-button__text-color--primary--active;
  }
}

// fixes specific css that comes from platform
a.ui-button--primary {
  color: $ui-button__text-color--primary;
}

.ui-button--small {
  border-radius: 3px;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 2px 15px 2px 15px;
  text-transform: uppercase;
}

.ui-button--disabled,
.ui-button--disabled:hover {
  background-color: $ui-button__background-color--disabled;
  border-color: $ui-button__border-color--disabled;
  color: $ui-button__color--disabled;
  cursor: default;
}
