@import "./../../../../style-config/demo-variables";

.component-showcase {
  align-items: center;
  background-image: linear-gradient(to bottom, #f3f8fe, #fdf5f5);
  display: flex;
  flex-direction: column;
  padding: 120px 0 0;

  &__image {
    background-image: url(images/300.png);
    height: 428px;
    width: 300px;

    @media (min-width: 540px) {
      background-image: url(images/500.png);
      height: 405px;
      width: 500px;
    }
    @media (min-width: 768px) {
      background-image: url(images/700.png);
      height: 419px;
      width: 700px;
    }
    @media (min-width: 1366px) {
      background-image: url(images/966.png);
      height: 438px;
      width: 966px;
    }
    margin: 0 auto;
  }
}
