@import "./../../../style-config/colors";

.carbon-pod-content {
  border-radius: 4px;
  width: 100%;

  &--border {
    border: 1px solid $border-color;
  }

  &--primary {
    background-color: $white;
  }
  &--secondary {
    background-color: $background-alt;
  }
  &--tertiary {
    background-color: $grey-dark-blue-10;
  }

  &--transparent {
    background-color: transparent;
  }

  &--padding-extra-small {
    padding: 6px;
  }

  &--padding-small {
    padding: 10px;
  }

  &--padding-medium {
    padding: 15px;
  }

  &--padding-large {
    padding: 30px 25px;
  }

  &--padding-extra-large {
    padding: 40px;
  }
}
