@import 'general';
@import 'colors';

.ui-profile {
  white-space: nowrap;
}

.ui-profile__details,
.ui-profile__avatar {
  display: inline-block;
}

.ui-profile__details {
  margin-left: 10px;
  vertical-align: middle;
  line-height: $app-line-height;
}

.ui-profile__email {
  color: $grey-mid;
}

.ui-profile--large .ui-profile__name {
  font-size: 20px;
  font-weight: 200;
  line-height: 21px;
}
