@import "./../../style-config/colors";

.carbon-form__left-aligned-actions {
  flex-grow: 1;
}

.carbon-form__additional-actions {
  padding-left: 10px;
  display: inline-block;
}

.carbon-form__buttons {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.carbon-form__buttons--right {
  justify-content: flex-end;
}

.carbon-form-cancel {
  padding: 8px 0 8px 8px;
}

.carbon-form-save {
  padding: 4px 4px 4px 8px;
  border-radius: 4px;
}

.carbon-form-save--invalid {
  background-color: $grey-dark-blue-5;
}
