.ui-form__save {
  border-radius: 8px;
  float: right;
  margin-top: 20px;
  padding: 5px;
}

.ui-form__save--invalid {
  background-color: #E1E1E1;
}

.ui-form__summary {
  margin: 0 10px;
}


.ui-form__cancel {
  border-radius: 4px;
  float: right;
  margin-top: 20px;
  padding: 5px;
}