@import 'colors';
@import '../../../demo-variables';

.demo-content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 4%;
    width: 100%;

    @media (min-width: $response-point-tiny) {
      width: 49%;
      margin-bottom: 2%;
      margin-right: 2%;
    }
    &:nth-of-type(2n) {
      @media (min-width: $response-point-tiny) and (max-width: $response-point-medium) {
        margin-right: 0;
      }
    }

    @media (min-width: $response-point-medium) {
      margin-bottom: 1.5%;
      margin-right: 1.5%;
      width: 32.33333%;
    }
    &:nth-of-type(3n) {
      @media (min-width: $response-point-medium) {
        margin-right: 0;
      }
    }
  }
}

.demo-content-grid--5-columns {
  .demo-content-grid__item {
    width: 49%;
    margin-bottom: 2%;
    margin-right: 2%;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    @media (min-width: $response-point-tiny) {
      margin-bottom: 1.5%;
      margin-right: 1.5%;
      width: 32.33333%;
    }
    &:nth-of-type(3n) {
      @media (min-width: $response-point-tiny) and (max-width: $response-point-small) {
        margin-right: 0;
      }
    }

    @media (min-width: $response-point-small) {
      margin-bottom: 1.2%;
      margin-right: 1.2%;
      width: 19%;
    }
    &:nth-of-type(5n) {
      @media (min-width: $response-point-small) and (max-width: $response-point-medium) {
        margin-right: 0;
      }
    }
  }
}
