@import 'colors';

.ui-pill {
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 15px 2px 15px;
}

@mixin pill-theme($type, $color, $border, $background, $color-hover) {
  .ui-pill--#{$type} {
    border: 1px solid $color;
    color: $color;
  }
}

.ui-pill--disabled {
  border: 1px solid $grey-mid;
  color: $grey-mid;
}

@each $set in $colorIconSets {
  @include pill-theme($set...);
}
