@import "./../../style-config/colors";

.carbon-pill {
  background-color: $grey-dark-blue-60;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  padding: 2px 7px;
  text-align: center;
}

@mixin pill-theme($type, $color, $border, $background, $color-hover) {
  .carbon-pill--#{$type}--empty {
    border: 1px solid $color;
    color: $color;
  }

  .carbon-pill--#{$type}--fill {
    background-color: $color;
    color: $white;
  }
}

.carbon-pill--disabled--empty {
  border: 1px solid $grey-mid;
  color: $grey-mid;
}

.carbon-pill--disabled--fill {
  background-color: $grey-dark-blue-20;
  color: $grey-dark-blue-60;
}

@each $set in $colorIconSets {
  @include pill-theme($set...);
}
