@import "./../../style-config/colors";

.carbon-pill {
  border-radius: 10px;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 2px 7px;
  text-align: center;

  .carbon-pill__delete-icon {
    margin-left: 2px;
    margin-right: -5px;
  }
  .carbon-pill__delete-icon:before {
    font: {
      size: 5px;
    }
    line-height: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .carbon-pill__delete-icon:hover {
      box-shadow: 0 0 0 2px $blue-dark;
      background-color: $blue-dark;
      border-radius: 0 9px 9px 0;
      color: white;
  }

  .carbon-pill__delete-icon:focus {
    box-shadow: 0 0 0 2px $blue-dark;
    background-color: $blue-dark;
    border-radius: 0 9px 9px 0;
    color: white;
}
}

@mixin pill-theme($type, $color, $border, $background, $color-hover) {
  .carbon-pill--#{$type}--empty {
    border: 1px solid $color;
    color: $color;
  }

  .carbon-pill--#{$type}--fill {
    background-color: $color;
    color: $white;
  }
}

.carbon-pill--link {
  &:not([class*="disabled"]) {
    &:hover {
      background: $blue-dark;
      border-color: $blue-dark;
      color: white;
      cursor: pointer;
    }
  }
}

.carbon-pill--disabled--empty {
  border: 1px solid $grey-mid !important;
  color: $grey-mid !important;
}

.carbon-pill--disabled--fill {
  background-color: $grey-dark-blue-20 !important;
  border: 1px solid $grey-dark-blue-20 !important;
  color: $grey-dark-blue-60 !important;
}

@each $set in $colorIconSets {
  @include pill-theme($set...);
}
