// Red
$red:                        #D63F40 !default;
$red-light:                  #E42C2D !default;
$red-dark:                   #C11E20 !default;
$red-05:                     #FDF5F5 !default;
$red-20:                     #F7D9D9 !default;

// Orange
$beta:                       #FF5400 !default;
$orange-bright:              #FF7D00 !default;
$orange-bright-05:           #FFF8F2 !default;
$orange-bright-20:           #FFE4CC !default;

// Yellow
$yellow:                     #FFAB00 !default;
$yellow-05:                  #FFFBF2 !default;
$yellow-20:                  #FFEECC !default;

// Green
$green-bright:               #00DC00 !default;
$green-apple:                #50B848 !default;
$green-apple-05:             #F6FBF6 !default;
$green-apple-20:             #DCF1DA !default;
$green-bright-dull:          #38C72A !default;

// Blue
$blue:                       #255BC7 !default;
$blue-bright:                #1963F6 !default;
$blue-sky:                   #1573E6 !default;
$blue-sky-05:                #F3F8FE !default;
$blue-sky-10:                #E7F1FC !default;
$blue-sky-20:                #D0E3FA !default;
$blue-light:                 #4782F7 !default;
$azul:                       #004089 !default;

// Purple
$purple:                     #663399 !default;
$purple-05:                  #F7F5FA !default;
$purple-20:                  #E0D6EB !default;

// Magenta
$magenta:                    #ED1C5F !default;
$magenta-dull:               #CA2A60 !default;
$magenta-light:              #F32E6D !default;

// New Colors
// GREEN
$green-brilliant: #00DC00;

// Segment - Small
$segment-small: #00A376;

// Segment - Medium
$segment-medium: #0077C8;

// Segment - Large
$segment-large: #582C83;

// GOLD
$gold: #FFB500;

// RED
$red: #C7384F;

// SLATE
$slate: #003349;

// AZUL
$azul: #004B87;

// PLUM
$plum: #8246AF;

// FUCHSIA
$fuchsia: #CE0058;



// Grey
$grey-shadow:                #021224 !default;
$grey-dark-plus:             #1B1D21 !default;
$dark-blue-plus:             #262A33 !default;


$grey-dark-blue:             $slate !default;
$grey-dark-blue-90:          mix($slate, white, 90) !default;
$grey-dark-blue-80:          mix($slate, white, 80) !default;
$grey-dark-blue-70:          mix($slate, white, 70) !default;
$grey-dark-blue-60:          mix($slate, white, 60) !default;
$grey-dark-blue-50:          mix($slate, white, 50) !default;
$grey-dark-blue-40:          mix($slate, white, 40) !default;
$grey-dark-blue-30:          mix($slate, white, 30) !default;
$grey-dark-blue-25:          mix($slate, white, 25) !default;
$grey-dark-blue-20:          mix($slate, white, 20) !default;
$grey-dark-blue-15:          mix($slate, white, 15) !default;
$grey-dark-blue-10:          mix($slate, white, 10) !default;
$grey-dark-blue-5:           mix($slate, white, 5) !default;
