// Grey
$grey-dark-plus:             #1B1D21 !default;
$dark-blue-plus:             #262A33 !default;
$grey-dark-blue:             #3C424F !default;
$grey-dark-blue-90:          #4F5460 !default;
$grey-dark-blue-80:          #636872 !default;
$grey-dark-blue-70:          #767A83 !default;
$grey-dark-blue-60:          #8A8E95 !default;
$grey-dark-blue-50:          #9DA0A7 !default;
$grey-dark-blue-40:          #B1B3B9 !default;
$grey-dark-blue-30:          #C4C6CA !default;
$grey-dark-blue-25:          #CED0D3 !default;
$grey-dark-blue-20:          #D8D9DC !default;
$grey-dark-blue-15:          #E2E3E5 !default;
$grey-dark-blue-10:          #EBECED !default;
$grey-dark-blue-5:           #F5F6F7 !default;

// Red
$red:                        #D63F40 !default;
$red-light:                  #E42C2D !default;
$red-dark:                   #C11E20 !default;
$red-05:                     #FDF5F5 !default;
$red-20:                     #F7D9D9 !default;

// Orange
$beta:                       #FF5400 !default;
$orange-bright:              #FF7D00 !default;
$orange-bright-05:           #FFF8F2 !default;
$orange-bright-20:           #FFE4CC !default;

// Yellow
$yellow:                     #FFAB00 !default;
$yellow-05:                  #FFFBF2 !default;
$yellow-20:                  #FFEECC !default;

// Green
$green-bright:               #00DC00 !default;
$green-apple:                #50B848 !default;
$green-apple-05:             #F6FBF6 !default;
$green-apple-20:             #DCF1DA !default;
$green-bright-dull:          #38C72A !default;

// Blue
$blue:                       #255BC7 !default;
$blue-bright:                #1963F6 !default;
$blue-sky:                   #1573E6 !default;
$blue-sky-05:                #F3F8FE !default;
$blue-sky-10:                #E7F1FC !default;
$blue-sky-20:                #D0E3FA !default;
$blue-light:                 #4782F7 !default;
$azul:                       #004089 !default;

// Purple
$purple:                     #663399 !default;
$purple-05:                  #F7F5FA !default;
$purple-20:                  #E0D6EB !default;

// Magenta
$magenta:                    #ED1C5F !default;
$magenta-dull:               #CA2A60 !default;
$magenta-light:              #F32E6D !default;
