@import './colors';

/* carbon-button */
$carbon-button__border-radius: 0px !default;
$carbon-button__font-weight: bold !default;
$carbon-button__padding: 0 18px !default;

/* carbon-button--primary */
$carbon-button__background-color--primary: $blue !default;

$carbon-button__border--primary: 1px solid transparent !default;
$carbon-button__text-color--primary: $white !default;

/* carbon-button--primary--hover */
$carbon-button__background-color--primary--hover: mix(black, $blue, 20) !default;

// /* carbon-button--secondary */
$carbon-button__border--secondary: 1px solid $blue !default;

/* carbon-button--disabled */
$carbon-button__background-color--disabled: $slate-tint-90 !default;
$carbon-button__border-color--disabled: $slate-tint-90 !default;
$carbon-button__color--disabled: $black-20 !default;

/*
values are [ background/border color, hover, active, text ]
*/
$buttonColorSets: (
 ("blue", $blue, mix(black, $blue, 20), $blue-bright, $white),
 ("magenta", $magenta, mix(black, $magenta, 20), $magenta-light, $white),
 ("magenta-dull", $magenta-dull, mix(black, $magenta-dull, 20), mix(white, $magenta-dull, 20), $white),
 ("red", $red, mix(black, $red, 20), $red-light, $white),
 ("white", $white, mix(black, $white, 20), $grey-dark-blue-10, $grey-dark-plus),
 ("grey", $slate-tint-20, $slate, $grey-dark-blue-80, $white)
);
