// Brand Colours - These are named by their colour.
$white:                      #FFF !default;
$black:                      #000 !default;
$grey:                       #D0D0D0 !default;
$grey-dark-blue:             #3C424F !default;
$grey-dark:                  #4D4F53 !default;
$grey-mid:                   #AFAFAF !default;
$grey-light:                 #EBEDEF !default;
$grey-background:            $grey-light !default;
$green:                      #007F64 !default;
$green-bright:               #00DC00 !default;
$orange:                     #FF8234 !default;
$orange-bright:              #FF5800 !default;
$blue:                       #255BC7 !default;
$blue-dark:                  #193E90 !default;
$blue-bright:                #1963F6 !default;
$blue-alt:                   #1963f6 !default;
$red:                        #D63F40 !default;
$yellow:                     #FFE44D !default;
$magenta:                    #ED1C5F !default;
$magenta-dull:               #CA2A60 !default;

// Main colours
$warning:                    $orange !default;
$error:                      $red !default;

$border-color:               #CCD1DC !default;
