// Brand Colours - These are named by their colour.
$white:                      #FFF !default;
$black:                      #000 !default;
$grey:                       #D0D0D0 !default;
$grey-dark:                  #4D4F53 !default;
$grey-mid:                   #AFAFAF !default;
$grey-light:                 #E0E1DD !default;
$grey-background:            #F2F2F2 !default;
$green:                      #007F64 !default;
$green-bright:               #41A940 !default;
$orange:                     #FF8234 !default;
$orange-bright:              #FF5800 !default;
$blue:                       #255BC7 !default;
$red:                        #CB3500 !default;
$yellow:                     #FFE44D !default;

// Main colours
$warning:                    $orange !default;
$error:                      $red !default;

$border-color:               $grey !default;
