@import 'colors';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900';

$app-font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$app-light-font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$app-medium-font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$app-font-size: 13px !default;
$app-line-height: 16px !default;
$app-text-color: $grey-dark-blue !default;
$grid-margin: 15px !default;
$app-max-width: 1600px !default;
$app-width: 958px !default;
$app-tooltip-pointer-size: 7px !default;
$app-navigation-height: 40px !default;
