@import 'colors';

$app-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$app-light-font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$app-medium-font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$app-font-size: 12px !default;
$app-line-height: 16px !default;
$app-text-color: $grey-dark !default;
$grid-margin: 15px !default;
$app-max-width: 1600px !default;
$app-width: 958px !default;
$app-tooltip-pointer-size: 7px !default;
$app-navigation-height: 40px !default;
