@import 'general';
@import 'colors';

$input-common-font-size:        12px !default;
$input-common-font:             $app-font-family !default;
$input-common-border:           1px solid $grey !default;
$input-common-color:            $grey-dark !default;
$input-border-radius:         3px !default;
$input-active-border-color:   $blue-bright !default;
$input-common-line-height:      16px !default;
$input-common-height:           31px !default;
$input-common-padding:          6px 6px 5px !default;
