@import 'general';
@import 'colors';

$input-base-font-size:        12px !default;
$input-base-font:             $app-font-family !default;
$input-base-border:           1px solid $grey !default;
$input-base-border-colour:    $grey-dark !default;
$input-border-radius:         3px !default;
$input-active-border-colour:  $blue !default;
$input-base-line-height:      16px !default;
$input-base-height:           31px !default;
$input-base-padding:          6px !default;
