.carbon-configurable-columns {
  .carbon-form__buttons {
    position: relative;
  }

  .carbon-form__additional-actions {
    left: 0;
    padding: 0;
    position: absolute;
    top: 28px;
  }
}

.carbon-configurable-columns__columns-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}
