.carbon-textbox__help-text--inline {
  margin-left: 15px;
  padding: 0;
}

.carbon-textbox__help--inner {
  .carbon-help {
    float: right;
    margin-right: 5px;
    top: 21px;
    z-index: 100;
  }
}
