@import "./../../style-config/colors";

.carbon-textarea__input {
  height: auto;
  resize: none;
}

.carbon-textarea__character-limit {
  text-align: right;

  &.over-limit {
    color: $red;
  }
}

.carbon-textarea__limit-used,
.carbon-textarea__limit-max {
  font-weight: bold;
}

.carbon-textarea__input--disable-scroll {
  overflow: hidden;
}
