@import "colors";

.ui-grid {
  border: 1px solid $border-color {
    collapse: collapse;
    radius: 4px;
    spacing: 0;
  }
}

.ui-grid__header__cell__align--right {
  text-align: right;
}

.ui-grid__row__cell__align--right {
  text-align: right;
}

