@import "colors";
@import "tables";
@import 'input-field';

$row__background-color--even: $white;
$row__background-color--odd: #F8F9FB;
$row__background-color--hover: #EDF4FB;
$row__delete-icon-size: 18px;
$row__delete-icon-color--normal: #AFAFAF;
$row__delete-icon-color--hover: $error;
$table-header-color: #636872;
$table-header-border-color: #8A8E95;
$table-header-border-top-color: $border-color;
$table-header-border-bottom-color: $border-color;

.ui-grid {
  border: 1px solid $border-color {
    collapse: separate;
    radius: 4px;
    spacing: 0;
  }
  width: 100%;
}

.ui-grid__header {
  background-color: $table-header-color;
  border-top-color: $table-header-border-top-color;
  border-bottom-color: $table-header-border-bottom-color;
  color: $white;
  height: 36px;
  text-align: left;
}

.ui-grid__header-cell {
  border-right: 1px solid $table-header-border-color;
  font-weight: normal;
  line-height: 14px;
  padding: 0 8px;
  vertical-align: middle;

  &:first-child {
    border-radius: $tables__border-radius 0 0 0;
  }

  &:last-child {
    border-radius: 0 $tables__border-radius 0 0;
    border-right: none;
  }
}

.ui-grid__header-cell--narrow {
  width: 160px;
}

.ui-grid__row {
  background-color: $row__background-color--odd;

  // last row
  &:last-child {
    .ui-table-row__td {
      border-bottom: 0;

      // first td in last row
      &:first-child {
        border-radius: 0 0 0 $tables__border-radius;
      }

      // last td in last row
      &:last-child {
        border-radius: 0 0 $tables__border-radius 0;
      }
    }
  }

  // even rows
  &:nth-child(even) {
    background-color: $row__background-color--even;
  }

  // row hover
  &:hover {
    background-color: $row__background-color--hover;
    color: $red;

    .common-input__input {
      border-color: #99B5EC;

      &:hover {
        border-color: $input-active-border-color;
      }
    }
  }
}
