@import 'colors.scss';
@import "./../../../style-config/demo-variables";

.demo-sub-page-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 0 20px;
  width: 100%;

  @media (min-width: 300px) {
    flex-direction: row;
  }

  &__link {
    max-width: 49%;

    .carbon-link__anchor {
      display: block;
    }
  }

  &__next {
    margin-left: auto;
  }

  .demo-arrow-link {
    align-items: stretch;
    &__icon {
      padding-top: 20px;
    }
  }
}
