@import "./../../../style-config/input-field";
@import "./../../../style-config/colors";

.carbon-input-presentation {
  background-color: $white;
  border-radius: $input-border-radius;
  border: $input-common-border;
  box-sizing: border-box;
  cursor: text;
  display: flex;
  flex-wrap: wrap;
  min-height: $input-common-height;
  line-height: $input-common-line-height;
  margin: 0px;
  outline: none;
  padding: 2px 6px;
  vertical-align: baseline;
  width: 100%;
  position: relative;

  &:not(.carbon-input-presentation--has-focus):hover {
    border-color: $slate-tint-60;
  }

  .common-input--disabled & {
    background-color: $slate-tint-85 !important;
    border-color: $slate-tint-85 !important;
    color: $black-20 !important;
  }

  .common-input--with-icon & {
    padding-right: 36px;
  }

  .carbon-input {
    margin: 3px 0;
  }
}

.carbon-input-presentation--has-focus {
  border-color: $blue;
}
