@import "./../../../style-config/input-field";
@import "./../../../style-config/colors";

.carbon-input {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: $input-common-color;
  flex-grow: 1;
  font-family: $input-common-font;
  font-size: $input-common-font-size;
  outline: none;

  &::-webkit-input-placeholder,
  &::-moz-placeholder {
    color: $grey-dark-blue-40;
  }

  &:-ms-input-placeholder {
    color: $grey-dark-blue-40;
  }
}
