@import 'colors';

.page-header-large{
  padding: 80px 0 30px 0;
  position: relative;
  text-align: center;
}

.page-header-large__background {
  position: relative;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.page-header-large__background-angled {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(37deg, #1E4486, #372159);
  @media (min-width: 800px) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 59.6%, 0 100%);
  }
}

.page-header-large__titles {
  color: $white;
  padding: 0 4% 0 4%;
}

.page-header-large__title {
  font-size: 40px;
  line-height: normal;
  margin: 0 auto;
  max-width: 1000px;
}

.page-header-large__subtitle {
  font-size: 22px;
  line-height: normal;
}

.heading-divider {
  margin-bottom: 40px;
  position: relative;

  &:after {
    position: absolute;
    height: 2px;
    content: '';
    background: $white;
    width: 60px;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: auto;
  }
}

.page-header-large__version {
  font-weight: 100;
  letter-spacing: 0.3px;
  margin-bottom: 90px;
  margin-top: 20px;
}

.page-header-large__tiles {
  padding: 0 5%;
  position: relative;
  z-index: 3;
}
