@import 'colors';

.ui-help {
  color: $grey-dark-blue-70;
  display: inline;
  margin-left: 5px;
  position: absolute;
  top: -1px;
}

.ui-help__href {
  color: $blue;

  &:hover {
    color: $blue-dark;
  }
}
