@import 'colors';

.ui-help {
  color: $grey-dark-blue-70;
  cursor: default;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 4px;
}

.ui-help__href {
  color: $blue;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $blue-dark;
    text-decoration: underline;
  }
}
