@import "./../../../style-config/colors";

.carbon-menu-list-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;

  .carbon-link__content {
    color: $grey-dark-blue;
  }

  .common-input__input-icon {
    line-height: 23px;
  }
}
