@import "./../../style-config/colors";
@import "./../../style-config/mixins";
@import "./../../style-config/input-field";

.carbon-loading-dots {
  text-align: center;

  .carbon-loading-dots__bounce {
    border-radius: 100%;
    animation: carbon-loading-dots__bouncedelay 1s infinite ease-in-out both;
    background: white;
    display: inline-block;
    height: 4px;
    margin-right: 2px;
    width: 4px;

    &.carbon-loading-dots__bounce1 {
      animation-delay: 0s;
    }

    &.carbon-loading-dots__bounce2 {
      animation-delay: 0.2s;
    }

    &.carbon-loading-dots__bounce3 {
      animation-delay: 0.4s;
      margin-right: 0px;
    }
  }
}

@keyframes carbon-loading-dots__bouncedelay {
  0%, 80%, 100% {
    opacity: 0;
    transform: scale(0);
  }

  40% {
    opacity: 1;
    transform: scale(1.0);
  }
}

$height: 28px;
$slider-transition: all 0.25s ease;
$transition-on-off: opacity 0.3s ease 0.2s;
$width: 55px;

.carbon-switch__loading {
  .common-input__label {
    cursor: not-allowed;
  }
  .common-input__field input {
    cursor: not-allowed;
  }
}

.carbon-switch {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .common-input__label {
    line-height: 1.5;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .carbon-checkbox__help-text {
    width: 100%
  }

  .common-input__field {
    margin-left: 0px;
    margin-right: 15px;
  }

  .carbon-checkbox__help-text:not(.carbon-checkbox__help-text--reverse) {
    margin-left: 76px;
  }

  .icon-cross:before {
    color: white;
  }

  .carbon-checkbox__input {
    height: $height;
    width: $width;
    z-index: 1;
  }

  .carbon-switch__switch__loading {
    transition: opacity 0.3s ease;
    opacity: 0.6;

    .carbon-switch__on {
      .carbon-icon {
        top: 2px;
      }
    }

    .carbon-switch__off {
      .carbon-icon {
        top: 1px;
      }
    }
  }

  .carbon-switch__switch {
    background: $grey-dark-blue;
    border-radius: 24px;
    height: $height;
    position: relative;
    transition: all 0.3s ease;
    width: $width;

    .carbon-switch__slider {
      background: white;
      border-radius: 50%;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
      height: 23px;
      left: 2px;
      position: absolute;
      top: 2px;
      transition: $slider-transition;
      width: 23px;
    }

    .carbon-switch__on {
      color: #ffffff;
      left: 10px;
      opacity: 0;
      position: absolute;
      top: 3px;
      transition: $transition-on-off;
      visibility: hidden;

      .carbon-loading-dots {
        left: -2px;
        position: relative;
      }
    }

    .carbon-switch__off {
      opacity: 1;
      position: absolute;
      right: 10px;
      text-align: right;
      top: 4px;
      transition: $transition-on-off;
      visibility: visible;

      .carbon-loading-dots {
        position: relative;
        top: -2px;
        right: -2px;
      }
    }
  }

  .carbon-checkbox__input:checked {
    + .carbon-switch__switch {
      transition: all 0.3s ease;
      background: $blue;

      .carbon-switch__slider {
        left: 30px;
        transition: $slider-transition;
      }

      .carbon-switch__on {
        opacity: 1;
        transition: $transition-on-off;
        visibility: visible;
      }

      .carbon-switch__off {
        opacity: 0;
        transition: $transition-on-off;
        visibility: hidden;
      }
    }
  }
  .carbon-checkbox__input:focus {
    + .carbon-switch__switch {
        @include input-outline($input-active-border-color);

        box-shadow: 0 0 6px 2px rgba($blue, 0.6);
    }
  }
}

.carbon-switch__reverse {
  .common-input__field {
    margin-left: 15px;
    margin-right: 0px;
  }
}
