@import "./../../../style-config/colors";

.carbon-switcher-app-item {
  width: 110px;
  height: 52px;
  border-radius: 4px;
  margin: 10px 13px 10px 0px;
  background-color: $white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 1px 1px 0 $grey-dark-blue-10;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: $grey-dark-blue;
  padding: 10px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.55), 0 1px 1px 0 $grey-dark-blue-10;
  }
}
