@import "colors";

$carbon-detail-icon-margin: 10px;
$carbon-detail-icon-size: 16px;

.carbon-detail {
  margin-bottom: 22px;
}

.carbon-detail__content {
  display: inline-block;
  line-height: 18px;
  white-space: pre-wrap;

  .carbon-detail--has-icon & {
    margin-left: $carbon-detail-icon-margin;
  }
}

.carbon-detail__icon {
  color: $grey-dark-blue-50;
  height: $carbon-detail-icon-size;
  width: $carbon-detail-icon-size;
  top: -1px;
  vertical-align: top;

  .carbon-icon__svg-icon {
    vertical-align: middle;
  }
}

.carbon-detail__footnote {
  color: $grey-dark-blue-70;
  font-size: 11px;
  font-style: italic;
  position: absolute;

  .carbon-detail--has-icon & {
    margin-left: $carbon-detail-icon-margin + $carbon-detail-icon-size;
  }
}
