@import 'colors.scss';

.demo-arrow-link {
  align-items: center;
  color: $grey-dark-blue;
  display: flex;

  &__label {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.22em;
    text-transform: capitalize;
  }

  &__prefix {
    font-size: 14px;
    line-height: 1.22em;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }
}

.demo-arrow-link--forwards {
  justify-content: flex-end;
  .demo-arrow-link__text {
    order: -1;
    margin-right: 0.6em;
    text-align: right;
  }
}

.demo-arrow-link--backwards {
  justify-content: flex-start;
  .demo-arrow-link__icon {
    order: -1;
  }
  .demo-arrow-link__text {
    margin-left: 0.6em;
  }
}
