@import "./base-colors";

.dls-screenshots {
  margin: 40px 0 80px;
  position: relative;
}

.screenshot {
  max-width: 700px;

  &.depth-1 {
    box-shadow: $shadow-depth-1;
  }

  &.depth-2 {
    box-shadow: $shadow-depth-2;
  }

  &.image-product {
    left: 240px;
    position: absolute;
    top: 150px;
  }
}

.page-sage-design-system {
  .page-header-small {
    background-image: linear-gradient(-90deg, #00A376 11%, #0077C8 46%, #0077C8 55%, #582C83 89%);
  }

  p + h2 {
    margin-top: 50px;
  }
}
