@import "./../../../style-config/colors";
@import "./../../../style-config/mixins";
@import "./../../../style-config/tables";

.carbon-table-header {
  background-color: $grey-dark-blue-80;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  color: $white;
  font-weight: 700;
  height: $tables__header-height;
  outline: medium none;
  padding: 0 8px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:first-child {
    border-left: none;
  }

  .carbon-table-row:first-child & {
    &:first-child {
      border-radius: $tables__border-radius 0 0 0;
    }

    &:last-child {
      border-radius: 0 $tables__border-radius 0 0;
    }
  }
}

.carbon-table-header--sort {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
    text-decoration: none;
  }
}

.carbon-table--configurable {
  .carbon-table-row:first-child .carbon-table-header {
    &:first-child {
      border-radius: 0;
    }
  }
}

.carbon-table-header--align-left {
  text-align: left;
}

.carbon-table-header--align-right {
  text-align: right;
}

.carbon-table-header--align-center {
  text-align: center;
}

.carbon-table-header__icon {
  margin: -5px 10px 0;
  position: absolute;
  right: 0;
  top: 50%;

  .carbon-icon__svg--sort-down,
  .carbon-icon__svg--sort-up {
    height: 11px;
    width: 10px;
  }
}

.carbon-table-header__icon--align-right {
  position: relative;
  top: 0;
}

.carbon-table-header--sortable {
  cursor: pointer;

  &:hover {
    background-color: $grey-dark-blue-90;
  }
}

.carbon-table-header--sort-description {
  @include visually-hidden();
}
