@import 'colors';
@import 'general';
@import 'mixins';
@import 'z-index';
@import 'input-field';

.common-input {
  position: relative;

  &:hover .common-input__message {
    display: block;
  }

  + .common-input {
    margin-top: 10px;
  }
}

.common-input--readonly {
  .common-input__input {
    background-color: transparent;
    border: none;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

.common-input__field {
  position: relative;
}

.common-input__input {
  background-color: $white;
  border-radius: $input-border-radius;
  border: $input-common-border;
  box-sizing: border-box;
  color: $input-common-color;
  font-family: $input-common-font;
  font-size: $input-common-font-size;
  height: $input-common-height;
  line-height: $input-common-line-height;
  margin: 0px;
  outline: none;
  padding: $input-common-padding;
  width: 100%;
  vertical-align: baseline;

  &::-ms-clear {
    // Hide x icon in IE
    display: none;
  }

  &:hover { 
    border-color: $input-active-border-color;
  }

  &:active,
  &:focus {
    border-color: $input-active-border-color;
    box-shadow: 0 0 6px rgba(25, 99, 246, 0.6);
    @include transition(box-shadow linear 0.1s);
  }

  &[disabled] {
    background-color: $grey-light !important; // this is the correct use of !important
    border-color: $grey !important; // this is the correct use of !important

    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

.common-input__message {
  $arrow-size: 5px;

  border-radius: 3px 3px 3px 0;
  bottom: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: none;
  left: 100%;
  margin-bottom: -14px;
  margin-left: -15px;
  margin-top: $arrow-size;
  padding: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  z-index: $z-validation-message;

  &:before {
    border-top: 14px solid #D63F40;
    border-right: 16px solid transparent;
    content: '';
    display: block;
    margin-right: -16px;
    position: absolute;
    left: 0;
    bottom: -14px;
  }
}

.common-input__icon {
  bottom: 1px;
  color: red;
  margin: 7px 5px;
  position: absolute;
  right: 0;

  &:before {
    font-size: 20px;
  }
}

.common-input--error .common-input__label,
.common-input__icon {
  color: $error;
}

.common-input__input--error,
.common-input__input--error:hover {
  border-color: $error !important; // this is the correct use of !important
}

.common-input__message--error {
  background-color: $error;
  color: $white;
}
