@import 'colors';
@import 'mixins';
@import 'z-index';
@import 'input-field';

.base-input {
  position: relative;

  &:hover .base-input__message {
    display: block;
  }
}

.base-input__label {
  color: $grey-dark;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0 6px;
}

.base-input__input {
  background-color: $white;
  border-radius: $input-border-radius;
  border: $input-base-border;
  box-sizing: border-box;
  color: $input-base-color;
  font-family: $input-base-font;
  font-size: $input-base-font-size;
  height: $input-base-height;
  line-height: $input-base-line-height;
  margin: 0px;
  outline: none;
  padding: $input-base-padding;
  width: 100%;
  vertical-align: baseline;

  &:hover { 
    border-color: $input-active-border-color;
  }

  &:active,
  &:focus {
    border-color: $input-active-border-color;
    box-shadow: 0 0 6px rgba(25, 99, 246, 0.6);
    @include transition(box-shadow linear 0.1s);
  }

  &[readonly] {
    background-color: transparent;
    border: none;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  &[disabled] {
    background-color: $grey-light !important; // this is the correct use of !important
    border-color: $grey !important; // this is the correct use of !important

    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

.base-input__message {
  $arrow-size: 5px;

  border-radius: 3px;
  box-sizing: border-box;
  display: none;
  margin-top: $arrow-size;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: $z-validation-message;

  &:before {
    @include arrow("up", $arrow-size, $error);

    left: 50%;
    margin-left: -($arrow-size + 1);
    position: absolute;
    top: -($arrow-size * 2);
  }
}

.base-input__icon {
  color: red;
  margin: 7px 5px;
  position: absolute;
  right: 0;

  &:before {
    font-size: 20px;
  }
}

.base-input__icon {
  color: $error;
}

.base-input__input--error,
.base-input__input--error:hover {
  border-color: $error !important; // this is the correct use of !important
}

.base-input__message--error {
  background-color: $error;
  color: $white;
}
