@import 'animation';

$color: #255BC7;
$std-speed: 0.7s;

.ui-spinner__std--small { width: 12px; height: 12px; border: 3px solid $color }
.ui-spinner__std--smed  { width: 20px; height: 20px; border: 5px solid $color }
.ui-spinner__std--lmed  { width: 32px; height: 32px; border: 8px solid $color }
.ui-spinner__std--large { width: 40px; height: 40px; border: 10px solid $color }

.ui-spinner__std {
  @include animation(rotate360 $std-speed linear forwards infinite);
  border-radius: 50%;

  border-top-color: rgba( $color, 1);
  border-bottom-color: rgba( $color, .5);
  border-right-color: rgba( $color, .3 );
  border-left-color: rgba( $color, .7 );
  display: inline-block;
}
