@import 'colors';
@import 'mixins';

@include keyframes(rotate360) {
  0%    {
    @include transform(rotate(0deg));
  }

  100%  {
    @include transform(rotate(360deg));
  }
}

$std-speed: 0.7s;

.ui-spinner {
  @include animation(rotate360 $std-speed linear forwards infinite);
  border-radius: 50%;
  box-sizing: content-box;
  display: inline-block;
}

@mixin spinner-theme($type, $color, $border, $background, $color-hover) {
  .ui-spinner--#{$type} {
    border-style: solid;
    border-top-color: rgba( $color, 1);
    border-bottom-color: rgba( $color, .5);
    border-right-color: rgba( $color, .3 );
    border-left-color: rgba( $color, .7 );
  }
}

@each $set in $colorIconSets {
    @include spinner-theme($set...);
}

.ui-spinner--extra-small    { width: 8px; height: 8px; border-width: 2px }
.ui-spinner--small          { width: 12px; height: 12px; border-width: 3px }
.ui-spinner--medium-small   { width: 20px; height: 20px; border-width: 5px }
.ui-spinner--medium         { width: 25px; height: 25px; border-width: 6px }
.ui-spinner--medium-large   { width: 32px; height: 32px; border-width: 8px }
.ui-spinner--large          { width: 40px; height: 40px; border-width: 10px }
.ui-spinner--extra-large    { width: 45px; height: 45px; border-width: 11px }

