@import "./../../style-config/colors";
@import "./../../style-config/general";

.carbon-content + .carbon-content {
  margin-top: $grid-margin;
}

.carbon-content__title {
  font-weight: bold;

  .carbon-content--inline & {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
}

.carbon-content__body {
  margin-top: 2px;
  white-space: pre-wrap;

  .carbon-content--inline & {
    display: inline-block;
    margin-top: 0;
    margin-left: 30px;
    text-align: left;
  }
}

.carbon-content--secondary .carbon-content__title {
  color: $grey-dark-blue-60;
  font-weight: normal;
}

.carbon-content--inline-and-center {
  .carbon-content__title {
    text-align: right;
    width: calc(50% - 30px);
  }
}
