@import 'colors';

.colour-sample {
  text-align: center;
}

.colour-sample__blob {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 5px auto;

}

.colour-sample__blob--white { background-color: $white; }
.colour-sample__blob--black { background-color: $black; }

.colour-sample__blob--grey { background-color: $grey; }
.colour-sample__blob--grey-dark-plus { background-color: $grey-dark-plus; }
.colour-sample__blob--grey-dark-blue { background-color: $grey-dark-blue; }
.colour-sample__blob--grey-dark-blue-90 { background-color: $grey-dark-blue-90; }
.colour-sample__blob--grey-dark-blue-80 { background-color: $grey-dark-blue-80; }
.colour-sample__blob--grey-dark-blue-70 { background-color: $grey-dark-blue-70; }
.colour-sample__blob--grey-dark-blue-60 { background-color: $grey-dark-blue-60; }
.colour-sample__blob--grey-dark-blue-50 { background-color: $grey-dark-blue-50; }
.colour-sample__blob--grey-dark-blue-40 { background-color: $grey-dark-blue-40; }
.colour-sample__blob--grey-dark-blue-30 { background-color: $grey-dark-blue-30; }
.colour-sample__blob--grey-dark-blue-20 { background-color: $grey-dark-blue-20; }
.colour-sample__blob--grey-dark-blue-10 { background-color: $grey-dark-blue-20; }
.colour-sample__blob--grey-dark { background-color: $grey-dark; }
.colour-sample__blob--grey-mid { background-color: $grey-mid; }
.colour-sample__blob--grey-light { background-color: $grey-light; }
.colour-sample__blob--grey-background { background-color: $grey-background; }
.colour-sample__blob--grey-header { background-color: $grey-header; }

.colour-sample__blob--green { background-color: $green; }
.colour-sample__blob--green-mid { background-color: $green-mid; }
.colour-sample__blob--green-bright { background-color: $green-bright; }
.colour-sample__blob--green-bright-dull { background-color: $green-bright-dull; }
.colour-sample__blob--green-apple { background-color: $green-apple; }
.colour-sample__blob--green-apple-05 { background-color: $green-apple-05; }
.colour-sample__blob--green-apple-20 { background-color: $green-apple-20; }

.colour-sample__blob--orange { background-color: $orange; }
.colour-sample__blob--orange-mid { background-color: $orange-mid; }
.colour-sample__blob--orange-bright { background-color: $orange-bright; }
.colour-sample__blob--orange-bright-05 { background-color: $orange-bright-05; }
.colour-sample__blob--orange-bright-20 { background-color: $orange-bright-20; }

.colour-sample__blob--blue { background-color: $blue; }
.colour-sample__blob--blue-dark { background-color: $blue-dark; }
.colour-sample__blob--blue-bright { background-color: $blue-bright; }
.colour-sample__blob--blue-navy { background-color: $blue-navy; }
.colour-sample__blob--blue-sky{ background-color: $blue-sky; }
.colour-sample__blob--blue-sky-05 { background-color: $blue-sky-05; }
.colour-sample__blob--blue-sky-20 { background-color: $blue-sky-20; }
.colour-sample__blob--blue-light { background-color: $blue-light; }

.colour-sample__blob--red { background-color: $red; }
.colour-sample__blob--red-05 { background-color: $red-05; }
.colour-sample__blob--red-20 { background-color: $red-20; }

.colour-sample__blob--yellow { background-color: $yellow; }
.colour-sample__blob--yellow-05 { background-color: $yellow-05; }
.colour-sample__blob--yellow-20 { background-color: $yellow-20; }

.colour-sample__blob--magenta { background-color: $magenta; }
.colour-sample__blob--magenta-dull { background-color: $magenta-dull; }

.colour-sample__blob--purple { background-color: $purple; }
.colour-sample__blob--purple-05 { background-color: $purple-05; }
.colour-sample__blob--purple-20 { background-color: $purple-20; }


.colour-sample__blob--warning { background-color: $warning; }
.colour-sample__blob--warning-text-background { background-color: $warning-text-background; }
.colour-sample__blob--warning-border { background-color: $warning-border; }
.colour-sample__blob--warning-hover { background-color: $warning-hover; }

.colour-sample__blob--error { background-color: $error; }
.colour-sample__blob--error-text-background { background-color: $error-text-background; }
.colour-sample__blob--error-border { background-color: $error-border; }
.colour-sample__blob--error-hover { background-color: $error-hover; }

.colour-sample__blob--info { background-color: $info; }
.colour-sample__blob--info-text-background { background-color: $info-text-background; }
.colour-sample__blob--info-border { background-color: $info-border; }
.colour-sample__blob--info-hover { background-color: $info-hover; }

.colour-sample__blob--new { background-color: $new; }
.colour-sample__blob--new-text-background { background-color: $new-text-background; }
.colour-sample__blob--new-border { background-color: $new-border; }
.colour-sample__blob--new-hover { background-color: $new-hover; }

.colour-sample__blob--success { background-color: $success; }
.colour-sample__blob--success-text-background { background-color: $success-text-background; }
.colour-sample__blob--success-border { background-color: $success-border; }
.colour-sample__blob--success-hover { background-color: $success-hover; }

.colour-sample__blob--help { background-color: $help; }
.colour-sample__blob--help-text-background { background-color: $help-text-background; }
.colour-sample__blob--help-border { background-color: $help-border; }
.colour-sample__blob--help-hover { background-color: $help-hover; }

.colour-sample__blob--border-color { background-color: $border-color; }
.colour-sample__blob--table-border-color { background-color: $table-border-color; }
.colour-sample__blob--background-alt { background-color: $background-alt; }
.colour-sample__blob--pod-footer { background-color: $pod-footer; }

.colour-sample__blob--row-alt-color { background-color: $row-alt-color; }
.colour-sample__blob--row-hover-color { background-color: $row-hover-color; }
.colour-sample__blob--row-hover-input-border { background-color: $row-hover-input-border; }





