@import 'colors';
@import 'mixins';
@import 'input-field';

.base-input {
  position: relative;

  &:hover .base-input__message {
    display: block;
  }
}

.base-input__input {
  background-color: $white;
  border-radius: $input-border-radius;
  border: $input-base-border;
  box-sizing: border-box;
  color: $input-base-border-colour;
  font-family: $input-base-font;
  font-size: $input-base-font-size;
  height: $input-base-height;
  line-height: $input-base-line-height;
  margin: 0px;
  outline: none;
  padding: $input-base-padding; 
  width: 100%;
  vertical-align: baseline;

  &:hover { 
    border-color: $input-active-border-colour;
  }

  &:active,
  &:focus {
    border-color: $input-active-border-colour;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(144, 200, 99, 0.5));
  }
}

.base-input__message {
  $arrow-size: 5px;

  border-radius: 3px;
  box-sizing: border-box;
  display: none;
  margin-top: $arrow-size;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  width: 100%;

  &:before {
    @include arrow("up", $arrow-size, $error);

    left: 50%;
    margin-left: -($arrow-size + 1);
    position: absolute;
    top: -($arrow-size * 2);
  }
}

.base-input__input--error,
.base-input__input--error:hover {
  border-color: $error;
}

.base-input__message--error {
  background-color: $error;
  color: $white;
}
