@import "./../../../style-config/colors";
@import "./../../../style-config/input-field";
@import "./../../../style-config/mixins";

.common-input--with-icon {
  .common-input__icon {
    right: 37px;
  }
}

.common-input__input:hover ~ label .carbon-input-icon {
  background-color: $blue;
  border-color: $blue;
  color: $white;

  &:hover {
    background-color: $blue-bright;
    border-color: $blue-bright;
    color: $white;
  };
}

.common-input__input:focus ~ label .carbon-input-icon,
.common-input__input:focus ~ label .carbon-input-icon:hover {
  background-color: $blue-dark;
  border-color: $blue-dark;
  color: $white;
}

.carbon-icon.carbon-input-icon {
  $button-border-radius: $input-border-radius - 1;
  background-color: $grey-light;
  border-left: 1px solid $grey;
  bottom: 1px;
  box-sizing: border-box;
  color: $grey-dark;
  cursor: pointer;
  height: $input-common-height - 2;
  margin-top: 1px;
  padding: 6px 0;
  position: absolute;
  right: 1px;
  text-align: center;
  width: $input-common-height;

  &:hover {
    background-color: $blue-bright;
    border-color: $blue-bright;
    color: $white;
  };
}
