@import 'colors';
@import 'mixins';
@import 'input-field';

.ui-input-icon:hover,
.base-input__input:hover ~ label .ui-input-icon {
  color: $white;
  border-color: $blue;
  background-color: $blue;
}

.ui-input-icon {
  $button-border-radius: $input-border-radius - 1;
  background-color: $grey-light;
  border-left: 1px solid $grey-mid;
  border-radius: 0 $button-border-radius $button-border-radius 0;
  box-sizing: border-box;
  color: $grey-dark;
  cursor: pointer;
  height: $input-base-height - 2;
  margin-top: 1px;
  padding: 6px;
  position: absolute;
  right: 1px;
  text-align: center;
  width: $input-base-height;
}
