@import 'colors';
@import 'mixins';
@import 'input-field';

.ui-input-icon:hover,
.base-input__input:focus + label .ui-input-icon {
  color: $white;
  border-color: $green-bright;
  @include linear-gradient(top, (#5CC15B, #338432));
}

.ui-input-icon {
  $button-border-radius: $input-border-radius - 1;

  @include linear-gradient(top, (#FCFCFC, #DADADA));
  border-left: 1px solid #AFAFAF;
  border-radius: 0 $button-border-radius $button-border-radius 0;
  box-sizing: border-box;
  color: $grey-dark;
  cursor: pointer;
  height: $input-base-height - 2;
  margin-top: 1px;
  padding: 6px;
  position: absolute;
  right: 1px;
  text-align: center;
  width: $input-base-height;

  &:active {
    background-image: none;
    background-color: $green-bright;
    box-shadow: inset 0 1px 4px $green;
    color: $white;
  }
}
