@import "colors";

.carbon-color-option {
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}

.carbon-color-option__color-sample {
  height: 56px;
  width: 56px;
}

.carbon-color-option__radio-button-input {
  &:checked + .carbon-color-option__color-sample {
    .carbon-color-option__tick { display: block; }
  }

  &:hover {
    cursor: pointer;
  }

  position: absolute;
  opacity: 0;
  height: 56px;
  width: 56px;
}

.carbon-color-option__tick {
  display: none;
  position: absolute;
  line-height: 51px;
  padding-left: 17px;
  pointer-events: none;

  &:before { font-size: 22px; }
}

.carbon-color-option__color-sample--transparent {
  border: solid 1px $grey-dark-blue-30;
}
