@import 'colors';

.demo-simple-content {
  font-size: 16px;
}

.demo-simple-content__title {
  margin-bottom: 30px;
  position: relative;

  &:after {
    position: absolute;
    height: 2px;
    content: '';
    background: $grey-dark-blue-60;
    width: 60px;
    left: 0;
    bottom: -15px;
    margin: auto;
  }
}

.demo-simple-content__body {
  font-size: 16px;
  margin-bottom: 20px;
}

.demo-simple-content__footer-arrow {
  margin-left: 5px;
}
