@import "general";

.ui-filter {
  margin: ($grid-margin / 2) 0;

  &--align-right {
    text-align: right;
  }

  > * {
    display: inline-block;
    margin-left: ($grid-margin / 2);

    &:first-child {
      margin-left: 0;
    }
  }

  .common-input + .common-input {
    margin-top: 0;
  }

  .common-input__label--inline {
    padding: 0;
    text-align: right;
  }
}
