@import "assets";

.ui-icon {
  display: inline-block;
  position: relative;
}

.ui-icon__svg-icon {
  display: inline-block;
}

.ui-icon__svg {
  fill: currentColor;
}

@font-face {
  font-family: 'CarbonIcons';
  src: url('#{$font-path}/carbon-icons-webfont.eot');
  src: url('#{$font-path}/carbon-icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/carbon-icons-webfont.woff') format('woff'),
       url('#{$font-path}/carbon-icons-webfont.ttf') format('truetype'),
       url('#{$font-path}/carbon-icons-webfont.svg#CarbonIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($class, $unicode) {
  .icon-#{$class}:before {
    content: "#{$unicode}";
  }
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font: {
    family: CarbonIcons;
    size: 18px;
    style: normal;
    weight: normal;
  }
  line-height: 14px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

@include icon(feedback,      "");
@include icon(info,           0);
@include icon(accounts,       1);
@include icon(accounts_extra, 1);
@include icon(cashbook,       1);
@include icon(payroll,        2);
@include icon(help,           3);
@include icon(settings,       4);
@include icon(logout,         5);
@include icon(pdf,            6);
@include icon(csv,            7);
@include icon(copy,           8);
@include icon(error,          9);

@include icon(insert_row,     A);
@include icon(plus,           B);
@include icon(calendar,       C);
@include icon(book,           D);
@include icon(analysis,       E);
@include icon(people,         F);
@include icon(bank,           G);
@include icon(entry,          H);
@include icon(collaborate,    J);
@include icon(dropdown,       K);
@include icon(alert,          L);
// @include icon(,            M);
// @include icon(,            N);
// @include icon(,            O);
// @include icon(,            P);
// @include icon(,            Q);
// @include icon(,            R);
// @include icon(,            S);
// @include icon(,            T);
// @include icon(,            U);
@include icon(create,         V);
// @include icon(,            W);
// @include icon(,            X);
// @include icon(,            Y);
// @include icon(,            Z);

@include icon(graph,          a);
@include icon(pound,          b);
@include icon(edit,           c);
@include icon(piggy_bank,     d);
@include icon(contacts,       e); // Deprecated
@include icon(person,         e);
@include icon(arrow,          f);
@include icon(search,         g);
@include icon(cross,          h);
@include icon(close,          h); //Dialog
@include icon(delete,         h); //TFFM
@include icon(settings_old,   i);
@include icon(go,             j);
@include icon(new,            k);
@include icon(true_tick,      l);
@include icon(old_warning,    m);
@include icon(question_mark,  n);
@include icon(admin,          o);
@include icon(messages,       p);
@include icon(email,          p);
@include icon(edit,           q);
@include icon(print,          r);
@include icon(clock,          s);
@include icon(euro,           t);
@include icon(home,           u);
@include icon(cart,           v);
@include icon(bulk_destroy,   w);
@include icon(hide,           w); // Messages
@include icon(warning,        x);
@include icon(question,       y);
@include icon(tick,           z);

@include icon(none,           "\ ");
@include icon(add,            "\+");
@include icon(services,       "\+");
