@import "assets";

.carbon-icon {
  display: inline-block;
  position: relative;
}

.carbon-icon__svg-icon {
  display: inline-block;
}

.carbon-icon__svg {
  fill: currentColor;
}

@font-face {
  font-family: 'CarbonIcons';
  src: url('#{$font-path}/carbon-icons-webfont.eot');
  src: url('#{$font-path}/carbon-icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/carbon-icons-webfont.woff') format('woff'),
       url('#{$font-path}/carbon-icons-webfont.ttf') format('truetype'),
       url('#{$font-path}/carbon-icons-webfont.svg#CarbonIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($class, $unicode) {
  .icon-#{$class}:before {
    content: "#{$unicode}";
  }
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  font: {
    family: CarbonIcons;
    size: 16px;
    style: normal;
    weight: normal;
  }

  line-height: 16px;
  vertical-align: middle;
}

@include icon(feedback,       "\e930");
@include icon(info,           "\e92a");
@include icon(accounts,       1);
@include icon(accounts_extra, 1);
@include icon(cashbook,       1);
@include icon(payroll,        2);
@include icon(help,           "\e943");
@include icon(settings,       "\e91a");
@include icon(logout,         "\e92e");
@include icon(pdf,            "\e91f");
@include icon(csv,            "\e94a");
@include icon(copy,           "\e91b");
@include icon(error,          "\e923");

@include icon(insert_row,     A);
@include icon(plus,           B);
@include icon(calendar,       "\e90e");
@include icon(book,           D);
@include icon(analysis,       E);
@include icon(people,         "\e93b");
@include icon(bank,           G);
@include icon(entry,          H);
@include icon(collaborate,    J);
@include icon(dropdown,       "\e910");
@include icon(alert,          "\e90b");

@include icon(create,         V);


@include icon(graph,          a);
@include icon(pound,          b);
@include icon(edit,           c);
@include icon(piggy_bank,     d);
@include icon(contacts,       e); // Deprecated
@include icon(person,         "\e93c");
@include icon(arrow,          f);
@include icon(search,         "\e92f");
@include icon(cross,          "\e91d");
@include icon(close,          "\e91e"); //Dialog
@include icon(delete,         "\e90c"); //TFFM
@include icon(settings_old,   i);
@include icon(go,             j);
@include icon(new,            k);
@include icon(true_tick,      l);
@include icon(old_warning,    m);
@include icon(question_mark,  n);
@include icon(admin,          o);
@include icon(messages,       "\e922");
@include icon(email,          "\e922");
@include icon(edit,           "\e93a");
@include icon(print,          "\e942");
@include icon(clock,          "\e919");
@include icon(euro,           t);
@include icon(home,           "\e929");
@include icon(cart,           "\e90a");
@include icon(bulk_destroy,   "\e90c");
@include icon(hide,           w); // Messages
@include icon(warning,        "\e924");
@include icon(question,       "\e943");
@include icon(tick,           "\e950");

@include icon(none,           "\ ");
@include icon(add,            "\e940");
@include icon(services,       "\+");


// New
@include icon(edited,         "\e938");
@include icon(refresh,        "\e945");
@include icon(fax,            "\e925");
@include icon(shop,           "\e947");
@include icon(attach,         "\e937");
@include icon(filter,         "\e928");
@include icon(chat,           "\e914");
@include icon(duplicate,      "\e921");
@include icon(call,           "\e93d");
@include icon(favourite,      "\e94f");
