@import 'colors';

.carbon-preview {
  &--placeholder {
    opacity: 0.6;
    height: 24px;
    width: 100%;
    background: $grey-dark-blue-25;
    animation: shimmer 2s ease infinite;
  }
}

@keyframes shimmer { 
  0% { opacity:0.1 }
  70% { opacity:0.6 }
  100% { opacity:0.1 }
}
