@import "./../../../style-config/colors";

.carbon-form-summary {
  display: inline-block;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;

  &__summary {
    padding: 0 3px;
  }

  &__icon,
  &__text {
    padding: 0 3px;
  }

  &__icon {
    position: relative;
    top: -2px;
  }

  &__error-summary {
    color: $error;
  }

  &__warning-summary {
    color: $warning;
    .carbon-form-summary__text {
      color: $warning-accessible;
    }
  }
}
