.view-finances {
  margin: 0 auto;
  width: 980px;
}

.view-finances__title {
  text-align: center;
}

.quick-create {
  float: right;
}

.home-link {
  float: left;
  margin-top: 35px;
}

.ui-rainbow {
  padding-top: 10px;
}
