@import "./../../style-config/colors";

.common-input__input:hover ~ label .input-icon-toggle--error,
.common-input__input:hover ~ label .input-icon-toggle--error:hover {
  background-color: $error;
  border-color: $error;
  .carbon-icon:before {
    color: $white;
  }
}
.common-input__input:focus ~ label .input-icon-toggle--error {
  background-color: $red-dark;
  border-color: $red-dark;
  .carbon-icon:before {
    color: $white;
  }
}

.common-input__input:hover ~ label .input-icon-toggle--warning,
.common-input__input:hover ~ label .input-icon-toggle--warning:hover {
  background-color: $warning;
  border-color: $warning;
  .carbon-icon:before  {
    fill: $white;
  }
}
.common-input__input:focus ~ label .input-icon-toggle--warning {
  background-color: $warning-hover;
  border-color: $warning-hover;
  .carbon-icon:before  {
    fill: $white;
  }
}

.common-input__input:hover ~ label .input-icon-toggle--info,
.common-input__input:hover ~ label .input-icon-toggle--info:hover {
  background-color: $info;
  border-color: $info;
  .carbon-icon:before  {
    color: $white;
  }
}
.common-input__input:focus ~ label .input-icon-toggle--info {
  background-color: $info-hover;
  border-color: $info-hover;
  .carbon-icon:before  {
    color: $white;
  }
}