@import "./../../style-config/colors";
@import "./../../style-config/general";
@import "./../../style-config/z-index";

.carbon-heading {
  padding: 24px 0 0;
}

.carbon-heading__header {
  position: relative;

  .carbon-heading--has-divider & {
    border-bottom: 1px solid $border-color;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .carbon-tooltip {
    z-index: $z-modal-background - 1;
  }
}

.carbon-heading__subheader {
  margin-top: 5px;
}

.carbon-heading--has-back .carbon-heading__headers {
  margin-left: 30px;
}

.carbon-heading__title {
  display: inline-block;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  vertical-align: middle;
}

.carbon-heading__help {
  line-height: $app-line-height;
  margin-left: 10px;
  top: 3px;
}

.carbon-heading__back {
  margin-top: -7px;
  top: 50%;
  position: absolute;

  .carbon-heading--has-divider & {
    margin-top: -12px;
  }

  .carbon-icon {
    color: $grey-dark-blue-30;

    &:hover {
      color: $blue;
    }
  }
}

.carbon-heading__separator {
  border-top: 2px solid $grey-dark-blue-20;
  margin: 10px 0 8px;
  text-align: left;
  width: 50px;
}
