@import "./../../dialog-full-screen/dialog-full-screen-variables";

.carbon-page {
  width: 100%;
  height: 100%;
}

.carbon-page__content {
  padding: $padding-top-bottom $padding-left-right;
  width: 100% - ($padding-left-right * 2);
  height: calc(100% - #{($title-height + ($padding-top-bottom * 2))});
  overflow-y: auto;
}
