@import "colors";
@import "tables";

$row__background-color--even: $white;
$row__background-color--odd: #F2F2F2;
$row__background-color--hover: #EDF4FB;
$row__delete-icon-size: 18px;
$row__delete-icon-color--normal: #AFAFAF;
$row__delete-icon-color--hover: $error;

.ui-table-row {
  background-color: $row__background-color--odd;

  // last row
  &:last-child {
    .ui-table-row__td {
      // first td in last row
      &:first-child {
        border-radius: 0 0 0 $tables__border-radius;
      }

      // last td in last row
      &:last-child {
        border-radius: 0 0 $tables__border-radius 0;
      }
    }
  }

  // even rows
  &:nth-child(even) {
    background-color: $row__background-color--even;
  }

  // row hover
  &:hover {
    background-color: $row__background-color--hover;

    // delete icon on row hover
    .ui-table-row__delete-icon:before {
      content: "w";
      font-size: $row__delete-icon-size;
    }
  }
}

.ui-table-row--gutter {
  background-color: $white;

  &:hover {
    background-color: $white;
  }
}

.ui-table-row__td {
  padding: 4px 2px;
}

.ui-table-row__td--actions {
  padding: {
    left: 6px;
    right: 6px;
  }
  width: 18px;
}

.ui-table-row__td--gutter {
  border-top: 1px solid $border-color;
  padding: {
    top: 15px;
    bottom: 15px;
  }

  .base-input__input {
    border-color: transparent;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      border-color: transparent;
    }
  }
}

.ui-table-row__delete {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0;
  width: $row__delete-icon-size;
}

.ui-table-row__delete-icon {
  &:before {
    color: $row__delete-icon-color--normal;
    font-size: $row__delete-icon-size - 2;
  }

  &:hover:before {
    color: $row__delete-icon-color--hover;
  }
}
