@import "colors";
@import "tables";
@import 'input-field';

$row__delete-icon-size: 18px;
$row__delete-icon-color--normal: #AFAFAF;
$row__delete-icon-color--hover: $error;

.ui-table-row--gutter {
  background-color: $white;

  &:hover {
    background-color: $white;
  }
}

.ui-table-row__cell {
  border-bottom: 1px solid #E4E7EA;
  padding: 4px 2px;
}

.ui-table-row__cell--gutter {
  padding: {
    top: 15px;
    bottom: 15px;
  }

  .common-input__input {
    font-size: 18px;
    font-weight: bold;
  }
}
