@import 'colors';
@import 'mixins';
@import 'input-field';

.ui-dropdown-suggest {
  width: 350px;
}

.ui-dropdown-suggest__dropdown-icon:hover,
.ui-dropdown-suggest__input:focus + label .ui-dropdown-suggest__dropdown-icon {
  color: $white;
  border-color: $green-bright;
  @include linear-gradient(top, (#5CC15B, #338432));
}

.ui-dropdown-suggest__dropdown-icon {
  $button-border-radius: $input-border-radius - 1;

  @include linear-gradient(top, (#FCFCFC, #DADADA));
  border-radius: 0 $button-border-radius $button-border-radius 0;
  border-left: 1px solid #AFAFAF;
  box-sizing: border-box;
  color: $grey-dark;
  cursor: pointer;
  height: $input-base-height - 2;
  padding: 6px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: $input-base-height;

  &:active {
    background-image: none;
    background-color: $green-bright;
    box-shadow: inset 0 1px 4px $green;
  }
}

.ui-dropdown-suggest__dropdown-icon:before {
  line-height: 18px;
  content: "K";
  font-size: 1.5em;
  vertical-align: middle;
}

.ui-dropdown-suggest__list {
  background-color: $white;
  border: 1px solid $green-bright;
  color: $grey-dark;
  cursor: pointer;
  height: 100px;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #EEE;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-radius:4px;
  }

  li{
    &:hover {
      background-color: lighten($green-bright, 42%);
    }
  }
}
