@import "./../../style-config/colors";
@import "./../../style-config/z-index";

.carbon-dialog-full-screen__dialog {
  background-color: $grey-light;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-dialog;
}

.carbon-dialog-full-screen__content {
  padding: 30px 5%;
}

.carbon-dialog-full-screen__header {
  border-bottom: 1px solid $border-color;
  margin: 0;
  padding: 25px 5%;
  position: relative;

  .carbon-heading {
    padding: 0;
  }
}

.carbon-dialog-full-screen__title {
  font-size: 26px;
  margin: 0;
}

.carbon-dialog-full-screen__close {
  color: $grey-mid;
  cursor: pointer;
  display: block;
  margin-top: -8px;
  position: absolute;
  right: 5%;
  top: 50%;

  &:before {
    font-size: 25px;
  }

  &:hover {
    color: $blue;
  }
}
