@import "./../../style-config/colors";
@import "./../../style-config/z-index";

.carbon-dialog-full-screen__dialog {
  background-color: $grey-light;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-dialog;
}

.carbon-dialog-full-screen__content {
  padding: 30px 5%;
  overflow: scroll;
  height: calc(100% - 60px);
}

.carbon-dialog-full-screen__close {
  color: $grey-mid;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 5%;
  top: 52px;
  z-index: $z-dialog;

  &:before {
    font-size: 24px;
  }

  &:hover {
    color: $blue;
  }
}

.carbon-dialog-full-screen__dialog--open {
  body & {
    overflow: hidden;
  }
}
