$padding-left-right: 5% !default;
$padding-top-bottom: 30px !default;
$title-margin-bottom: $padding-top-bottom !default;
$title-height: 106px !default;
$title-total-height: $padding-top-bottom + $title-height + $title-margin-bottom;
