// the menu is 250px + 2 * 20px padding, which is 290px
// then, we want to site to be at least 800px beyond that for centring
$menu-popout-point: 1090px;

// provides the same gradient background for different site headers
$header-background-gradient: linear-gradient(37deg, #1E4486, #372159);

// breaks from small screens with a single column layout to wider screens
// with multiple columns in some cases
$response-point-medium: 800px;
