@import 'colors';
@import 'mixins';
@import 'z-index';

.common-list {
  background-color: $white;
  border: 1px solid $border-color;
  box-sizing: border-box;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  color: $grey-dark;
  cursor: pointer;
  max-height: 180px;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: $z-dropdown-list;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #EEE;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-radius:4px;
  }
}

.common-list__item {
  padding: 5px 6px;
}

.common-list__item--highlighted {
  background-color: #E6E9E7;
}
