@import "./../../style-config/colors";

.carbon-show-edit-pod {
  &:focus {
    outline: none;
  }
  .common-input__prefix {
    z-index: 5;
  }
}

.carbon-show-edit-pod__delete {
  color: $red;

  &:hover {
    color: $error-hover;
  }
}

// animation:

.carbon-show-edit-pod__transition-enter {
  opacity: 0;
}

.carbon-show-edit-pod__transition-enter.carbon-show-edit-pod__transition-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
}

.carbon-show-edit-pod__transition-leave {
  opacity: 0;
  position: absolute;
}
