@import "./../../style-config/colors";
@import "./../../style-config/mixins";

// Related to Pages Component, used in pages.scss
.carbon-carousel__content {
  overflow: hidden;
  position: relative;
}

.carbon-carousel__gradient {
  @include linear-gradient(left,  (rgba(255,255,255,1) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(255,255,255,1) 100%));

  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 15;
}

.carbon-slide {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  z-index: 10;
}

.carbon-slide--padded {
  padding: 0 60px;
}

$slide-animation-length: 500ms;
$cubic-bezier: .34,1.10,.69,1.01;

// NEXT

.slide-next-enter {
  opacity: 0;
  left: 100%;
  position: absolute;
}

.slide-next-enter.slide-next-enter-active {
  opacity: 1;
  left: 0;
  transition: all $slide-animation-length cubic-bezier($cubic-bezier);
}

.slide-next-leave {
  opacity: 1;
  left: 0;
  position: relative;
}

.slide-next-leave.slide-next-leave-active {
  opacity: 0;
  left: -100%;
  transition: all $slide-animation-length cubic-bezier($cubic-bezier);
}

// PREVIOUS

.slide-previous-enter {
  opacity: 0;
  left: -100%;
  position: absolute;
}

.slide-previous-enter.slide-previous-enter-active {
  opacity: 1;
  left: 0;
  transition: all $slide-animation-length cubic-bezier($cubic-bezier);
}

.slide-previous-leave {
  opacity: 1;
  left: 0;
  position: relative;
}

.slide-previous-leave.slide-previous-leave-active {
  opacity: 0;
  left: 100%;
  transition: all $slide-animation-length cubic-bezier($cubic-bezier);
}

// FADE

.carousel-transition-fade-enter {
  opacity: 0;
  position: absolute;
}

.carousel-transition-fade-enter.carousel-transition-fade-enter-active {
  opacity: 1;
  transition: all $slide-animation-length cubic-bezier($cubic-bezier);
}

.carousel-transition-fade-leave {
  opacity: 1;
  position: relative;
}

.carousel-transition-fade-leave.carousel-transition-fade-leave-active {
  opacity: 0;
  transition: all $slide-animation-length cubic-bezier($cubic-bezier);
}

.carbon-carousel__transition{
  height: 100%;
}
