@import "colors";

.carbon-pod__block {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.carbon-pod__edit-action {
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-left: 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 15px;

  &:hover {
    background-color: $grey-dark-blue-15;

    + .carbon-pod__block {
      background-color: $grey-dark-blue-15;
    }
  }
}

.carbon-pod__edit-action--no-border,
.carbon-pod__block--no-border {
  border: none;
}

.carbon-pod__block--secondary {
  background-color: $background-alt;
}

.carbon-pod__block--tertiary {
  background-color: $grey-dark-blue-10;
}

.carbon-pod__block--transparent {
  background-color: transparent;
}

.carbon-pod__block--tile {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.carbon-pod__content--padding-small {
  padding: 10px;
}

.carbon-pod__content--padding-medium {
  padding: 15px 15px;
}

.carbon-pod__content--padding-large {
  padding: 30px 25px;
}

.carbon-pod__content--padding-extra-large {
  padding: 40px;
}

.carbon-pod__content--footer.carbon-pod__content--tile {
  border-bottom: 1px solid $border-color;
}

.carbon-pod__footer {
  background-color: $pod-footer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.carbon-pod__footer--padding-small {
  padding: 10px;
}

.carbon-pod__footer--padding-medium {
  padding: 10px 15px;
}

.carbon-pod__footer--padding-large {
  padding: 15px 25px;
}

.carbon-pod__footer--padding-extra-large {
  padding: 20px 40px;
}

.carbon-pod__header {
  margin-bottom: 20px;
}

.carbon-pod__header--true {
  margin-bottom: 0;
  cursor: pointer;
}

.carbon-pod__header--false {
  cursor: pointer;
}

.carbon-pod__header--center {
  text-align: center;
}

.carbon-pod__header--right {
  text-align: right;
}

.carbon-pod__title {
  background: none;
  color: $grey-dark;
  display: inline;
  font-size: 18px;
  font-weight: 500;
}

.carbon-pod__subtitle {
  margin-top: 8px;
  font-size: 14px;
  font-weight: normal;
}

.carbon-pod__description {
  background: none;
  margin-bottom: 10px;
  font-size: 12px;
}

.carbon-pod__arrow {
  display: inline-block;
  position: relative;
  top: -1px;
}

.carbon-pod__arrow--false {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.carbon-pod--editable .carbon-pod__block {
  display: inline-block;
  float: left;
}
