@import "colors";

.ui-pod {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 20px 15px;
}

.ui-pod__title {
  margin-bottom: 10px;
  cursor: pointer;
}

.ui-pod__title-header {
  display: inline;
  background: none;
  color: $grey-dark;
  font-size: 1.8em;
  font-weight: 300;
}

.ui-pod__description {
  background: none;
  margin-bottom: 10px;
  font-size: 12px;
}

.ui-pod__arrow {
  display: inline-block;
}

.ui-pod__arrow--false {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
