@import "./../../style-config/colors";
@import "./../../style-config/mixins";
@import "./../../style-config/input-field";

.carbon-checkbox {
  padding-top: 8px;

  .common-input__field,
  .common-input__label {
    display: inline-block;
    vertical-align: top;
  }

  .common-input__label {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 5px;
  }

  &.common-input--has-field-help {
    .common-input__label {
      padding-bottom: 0px;
    }

    .carbon-checkbox__help-text {
      padding-bottom: 5px;
    }
  }
}

.carbon-checkbox__input.common-input__input {
  cursor: pointer;
  height: 15px;
  opacity: 0;
  position: absolute !important;
  vertical-align: middle;
  width: 15px;

  + svg {
    .checkbox-outline {
      fill: #668592;
    }
  }

  &:hover + svg {
    outline: 3px solid #ffb500;
    outline-offset: 0;
  }

  &:checked + svg .checkbox-check {
    fill: $grey-dark;
  }

  &[disabled] + svg {
    .checkbox-outline {
      fill: $grey;
    }

    .checkbox-fill {
      fill: $grey-light;
    }

    .checkbox-check {
      fill: $grey-light;
    }
  }

  &[disabled]:checked + svg .checkbox-check {
    fill: $grey-dark-blue-50;
  }
}

// extra specificity is required here
.common-input__help-text {
  &.carbon-checkbox__help-text {
    display: block;
    margin-top: 0;
    margin-left: 21px;
  }

  &.carbon-checkbox__help-text--reverse {
    margin-left: 6px;
  }

  &.carbon-checkbox__help-text--inline {
    display: inline;
    margin-right: 5px;
    position: relative;
    margin-left: 0;
    top: -2px;
  }
}
