@import "./../../style-config/colors";

.carbon-section {
  text-align: center;
  border-bottom: 1px solid $grey-dark-blue-15;
  padding-bottom: 40px;
}

.carbon-section__title {
  font-size: 16px;
  font-weight: bold;
}
