$menu-width: 240px;

// the menu is 250px + 2 * 20px padding, which is 290px
// then, we want to site to be at least 800px beyond that for centring
$menu-popout-point: 800px + $menu-width;

// provides the same gradient background for different site headers
$header-background-gradient: linear-gradient(80deg, #2f355a, #343f80);

// breaks from small screens with a single column layout to wider screens
// with multiple columns in some cases
$response-point-medium: 800px;

// breaks from one column to two columns, used as an intermediate
$response-point-small: 480px;

// breaks from one column to two columns, used as an intermediate
$response-point-tiny: 300px;
