$sidebar-animation-length: 250ms;

// sidebar right animation:
.sidebar--right-enter {
  opacity: 0;
  right: -30px;
}

.sidebar--right-enter.sidebar--right-enter-active {
  opacity: 1;
  right: 0;
  transition: all $sidebar-animation-length ease-in;
}

.sidebar--right-leave {
  right: 0;
  opacity: 1;
}

.sidebar--right-leave.sidebar--right-leave-active {
  opacity: 0;
  right: -50px;
  transition: all $sidebar-animation-length ease-in;
}

// sidebar left animation:
.sidebar--left-enter {
  opacity: 0;
  left: -30px;
}

.sidebar--left-enter.sidebar--left-enter-active {
  opacity: 1;
  left: 0;
  transition: all $sidebar-animation-length ease-in;
}

.sidebar--left-leave {
  left: 0;
  opacity: 1;
}

.sidebar--left-leave.sidebar--left-leave-active {
  opacity: 0;
  left: -50px;
  transition: all $sidebar-animation-length ease-in;
}
