@import 'colors';
@import 'mixins';
@import 'z-index';

$sidebar-animation-length: 300ms;
$sidebar-background-opacity: 0.6;
$sidebar-background-animation-length: 300ms;

.ui-sidebar__sidebar {
  background-color: white;
  border-radius: 1px;
  @include box-shadow(-1px 0 0 0 #D8D9DC) 
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  z-index: $z-sidebar;
}

.ui-sidebar__background {
  background-color: #3C424F;
  bottom: 0;
  left: 0;
  opacity: $sidebar-background-opacity;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-sidebar-background;
}

.ui-sidebar__close {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1;

  &:hover {
    color: $blue;
  }
}

.sidebar-enter {
  opacity: 0;
  right: -30px;
}

.sidebar-enter.sidebar-enter-active {
  opacity: 1;
  right: 0;
  transition: all $sidebar-animation-length ease-in;
}

.sidebar-leave {
  right: 0;
  opacity: 1;
}

.sidebar-leave.sidebar-leave-active {
  opacity: 0;
  right: -50px;
  transition: all $sidebar-animation-length ease-in;
}

// sidebar background animation:

.sidebar-background-enter {
  opacity: 0;
}

.sidebar-background-enter.sidebar-background-enter-active {
  opacity: $sidebar-background-opacity;
  transition: opacity $sidebar-background-animation-length ease-in;
}

.sidebar-background-leave {
  opacity: $sidebar-background-opacity;
}

.sidebar-background-leave.sidebar-background-leave-active {
  opacity: 0;
  transition: opacity $sidebar-background-animation-length ease-in;
}
