@import "./../../style-config/colors";

.carbon-create {
  color: $grey-dark-blue-60;
  border: 1px dashed $grey-dark-blue-40;
  border-radius: 4px;
  display: block;
  padding: 12px 12px 10px;
  text-align: center;

  &:hover {
    background-color: $white;
    color: $blue;

    .carbon-link__content {
      text-decoration: none;
    }
  }
}
