@import 'colors';
@import 'z-index';

$dialog-padding: 20px;

.ui-dialog__dialog {
  background-color: $grey-light;
  border-radius: 5px;
  box-shadow: 0 4px 8px #555;
  padding: $dialog-padding;
  position: absolute;
  top: 50%;
  z-index: $z-dialog;
}

.ui-dialog__dialog--extra-small   { width: 300px; }
.ui-dialog__dialog--small         { width: 380px; }
.ui-dialog__dialog--medium-small  { width: 540px; }
.ui-dialog__dialog--medium        { width: 750px; }
.ui-dialog__dialog--medium-large  { width: 850px; }
.ui-dialog__dialog--large         { width: 960px; }
.ui-dialog__dialog--extra-large   { width: 1080px; }

.ui-dialog__title {
  background: none;
  border-bottom: 1px solid $border-color;
  color: $grey-dark;
  font-size: 1.8em;
  font-weight: 300;
  margin: 10px 0 15px 0;
  padding-bottom: 20px;
}

.ui-dialog__content {
  width: 100%;
}

.ui-dialog__close {
  color: $grey-mid;
  cursor: pointer;
  position: absolute;
  right: $dialog-padding;
  top: 25px;

  &:hover {
    color: $blue;
  }
}
