@import "./../../style-config/colors";
@import "./../../style-config/z-index";

$dialog-padding: 20px;

.carbon-dialog__dialog {
  background-color: $grey-light;
  border-radius: 5px;
  box-shadow: 0 4px 8px #555;
  position: fixed;
  top: 50%;
  z-index: $z-dialog;
  transition: top 0.25s;
}

.carbon-dialog__dialog--extra-small   { width: 300px; }
.carbon-dialog__dialog--small         { width: 380px; }
.carbon-dialog__dialog--medium-small  { width: 540px; }
.carbon-dialog__dialog--medium        { width: 750px; }
.carbon-dialog__dialog--medium-large  { width: 850px; }
.carbon-dialog__dialog--large         { width: 960px; }
.carbon-dialog__dialog--extra-large   { width: 1080px; }

.carbon-dialog__dialog--min-height {
  height: calc(100% - #{$dialog-padding});
}

.carbon-dialog__content {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 63px);
}

.carbon-dialog__inner-content {
  padding: $dialog-padding;
  min-height: calc(100% - #{$dialog-padding * 2});
}

.carbon-dialog__dialog--fixed-bottom {
  border-radius: 5px 5px 0 0;
  bottom: 0;
}

.carbon-dialog__title {
  .carbon-heading {
    padding-top: $dialog-padding;
    margin: 0 $dialog-padding;
  }

  .carbon-heading__header {
    margin-bottom: 0;
  }
}

.carbon-dialog__close {
  color: $grey-dark-blue-60;
  cursor: pointer;
  position: absolute;
  right: $dialog-padding;
  top: 25px;
  z-index: 1;

  &:hover {
    color: $blue;
  }
}

.carbon-dialog--open {
  overflow: hidden;
}
