@import "./../../style-config/colors";
@import "./../../style-config/z-index";

$dialog-padding: 20px;

.carbon-dialog__dialog {
  background-color: $grey-light;
  border-radius: 5px;
  box-shadow: 0 4px 8px #555;
  padding: $dialog-padding;
  position: absolute;
  top: 50%;
  z-index: $z-dialog;
}

.carbon-dialog__dialog--extra-small   { width: 300px; }
.carbon-dialog__dialog--small         { width: 380px; }
.carbon-dialog__dialog--medium-small  { width: 540px; }
.carbon-dialog__dialog--medium        { width: 750px; }
.carbon-dialog__dialog--medium-large  { width: 850px; }
.carbon-dialog__dialog--large         { width: 960px; }
.carbon-dialog__dialog--extra-large   { width: 1080px; }

.carbon-dialog__title {
  background: none;
  color: $grey-dark-blue;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 15px 0;
}

.carbon-dialog__content {
  width: 100%;
  border-top: 1px solid $border-color;
  padding-top: 10px;
}

.carbon-dialog__close {
  color: $grey-dark-blue-60;
  cursor: pointer;
  position: absolute;
  right: $dialog-padding;
  top: 25px;

  &:hover {
    color: $blue;
  }
}
