@import "colors";

.get-started {
  background-color: $dark-blue-plus;
  background-image: url('/assets/images/background_pattern.svg');
  bottom: 0;
  position: relative;
  width: 100%;
}

.get-started__actions-pod {
  color: $white;
  padding: 120px 0 130px;
  width: 100%;

  .carbon-pod__content {
    text-align: center;
  }

  .carbon-pod__block {
    background-color: transparent;
    border: none;
  }
}

.get-started__text {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.get-started__checkout-text {
  display: block;
  font-size: 22px;
  margin-bottom: 40px;
}
