@import 'colors';

.demo-information-styles {
  a {
    color: $blue;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $blue-dark;
      text-decoration: underline;
    }
  }

  li {
    line-height: 20px;
  }
}
