@import "./../../style-config/colors";
.carbon-icon__svg--grid {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  fill: inherit
}

.carbon-switcher-menu-title {
  position: relative;
  float: left;
  margin: 10px 10px 11px 10px;
  font-family: "Lato";
  font-size: 13px;
  font-weight: bold;
  background-color: $white;
  padding: 7px 10px;
  height: 26px;
  cursor: pointer;
  border-right: 1px solid $grey-dark-blue-10;
}

.carbon-switcher-menu-title {
  .carbon-switcher-menu-active {
    color: $blue-bright;
    fill: $blue-bright;
  }
  &:hover {
    color: $blue;
    fill: $blue;
  }
}

.carbon-switcher-menu-active {
  color: $blue-bright;
  fill: $blue-bright;
}

.carbon-switcher-drop-down {
  position: absolute;
  top: 47px;
  left: -15px;
  padding: 10px 0px 30px 27px;
  width: 301px;
  background-color: $white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.65), 0 1px 2px 0 rgba(206, 208, 211, 0.8);
}

.carbon-switcher-arrow-up {
  position: absolute;
  top: -14px;
  left: 18px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $white;
  &:after {
    position: absolute;
    left: -22px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 18px solid rgba(0, 0, 0, 0.10);
  }
}