@import 'colors.scss';

.carbon-settings-row {
  clear: both;
  color: $grey-dark-blue-80;
  display: flex;
  font-family: Lato;
  font-size: 14px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;

  .carbon-heading__title {
    color: $grey-dark-blue;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .carbon-heading__separator {
    margin: 0 0 17px;
  }

  .carbon-heading--has-subheader .carbon-heading__header {
    padding: 0;
  }

  + .carbon-settings-row {
    padding-top: 30px;
  }
}

.carbon-settings-row--has-divider {
  border-bottom: 1px solid $grey-dark-blue-10;
  padding-bottom: 30px;
}

.carbon-settings-row__header {
  box-sizing: border-box;
  clear: both;
  float: left;
  max-width: 325px;
  width: 35%;
}

.carbon-settings-row__input {
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-left: 50px;
  width: 100%;
}
