@import "tables";
@import "colors";

.ui-table {
  border-radius: $tables__border-radius;
  background-color: $white;
  border: 1px solid $border-color;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100%;
  table-layout: fixed;
  width: auto;
  word-break: break-all;
}

.ui-table__pager {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@if (type-of($tables__header-height) == number) and (type-of($tables__row-height) == number) {
  // Intervals of 5
  $i: 5;
  @while $i <= 100 {
    .ui-table__pager--#{$i} {
      min-height: $tables__header-height + ($i * $tables__row-height)
    }
    $i: $i + 5;
  }
}
