@import "./../../style-config/colors";
@import "./../../style-config/mixins";
@import "./../../style-config/tables";

.carbon-table__wrapper {
  background-color: $row-alt-color;
  border-radius: $tables__border-radius;
  border: 1px solid $border-color;
  overflow: visible;
}

.carbon-table__table {
  background-color: $white;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100%;
  table-layout: fixed;
  width: auto;
  word-break: break-all;

  // loading animation:

  .carbon-spinner {
    height: 8px;
    width: 8px;
    margin-bottom: -4px;
  }
}

.carbon-table__caption {
  // Discussed with KM and for now captions can be hidden from view so they
  // don't impact the design, but still available to screen readers, etc.
  @include visually-hidden();
  position: absolute;
  top: -99999px;
}

.carbon-table--pager {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.table-loading-appear {
  opacity: 0;
}

.table-loading-appear.table-loading-appear-active {
  opacity: 1;
  transition: opacity 200ms 50ms ease-in;
}
