@import "tables";
@import "colors";

.ui-table {
  border-radius: $tables__border-radius;
  background-color: $white;
  border: 1px solid $border-color;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100%;
  table-layout: fixed;
  width: auto;
  word-break: break-all;
}

.ui-table__pager {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@if (type-of($tables__header-height) == number) and (type-of($tables__row-height) == number) {
  // Starting a ui-table__pager--5
  $i: 5;

  // To ui-table__pager--100
  @while $i <= 100 {
    .ui-table__pager--#{$i} {
      // calculate the height of a table based on:
      // The header height + the number of rows * the height of a single row
      min-height: $tables__header-height + ($i * $tables__row-height)
    }
    // increment counter by 5
    $i: $i + 5;
  }
}
