@import 'colors';
@import './../../../style-config/demo-variables';

.demo-footer {
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media(min-width: $response-point-medium) {
    align-items: center;
    flex-direction: row;
  }

  &__background {
    background-color: $grey-dark-blue;
    left: 0;
    right: 0;
  }

  &__corporate {
    display: flex;
    font-size: 13px;
    flex-direction: column;
    @media(min-width: $response-point-medium) {
      text-align: right;
    }
  }

  &__sage-icon {
    margin: auto;
    @media(min-width: $response-point-medium) {
      margin: 0 0 0 auto;
    }
    height: 22px;
    width: 57px;
  }

  .carbon-link__anchor {
    color: currentColor;
    margin-right: 25px;
  }
}
