@import "colors";
@import "../../../demo-variables";

.demo-footer {
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
  width: 100%;

  @media(min-width: $response-point-medium) {
    align-items: center;
    flex-direction: row;
  }

  &__background {
    background-color: $grey-dark-blue;
    left: 0;
    right: 0;
  }

  &__section {
    text-align: center;
    width: 100%;
  }

  &__social {
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin: auto auto 15px;
    width: 120px;
    @media(min-width: $response-point-medium) {
      margin-bottom: auto;
      width: 160px;
    }
  }

  &__corporate {
    display: flex;
    flex-direction: column;
    @media(min-width: $response-point-medium) {
      text-align: right;
    }
  }

  &__sage-icon {
    background-image: url('/assets/images/sage_logo.svg');
    margin: auto;
    @media(min-width: $response-point-medium) {
      margin: 0 0 0 auto;
    }
    height: 22px;
    width: 57px;
  }

  .carbon-link__anchor {
    color: currentColor;

    .carbon-icon__svg {
      height: 35px; // hacks because icons are not the same size
    }
  }
}
