@import 'colors';

$doc-animation: opacity 100ms 200ms ease-in;

.demo-document {
  min-height: 600px;
  position: relative;

  h1:first-child {
    display: none;

    + * {
      margin-top: 0;
    }
  }

  code {
    background-color: $grey-dark-blue-15;
    border-radius: 4px;
    line-height: 18px;
    padding: 2px 6px;
    overflow-x: auto;
  }

  pre code {
    background-color: $grey-dark-plus;
    border-radius: 4px;
    color: $white;
    display: block;
    padding: 20px;
  }
}

.demo-document__loading {
  position: absolute;
  top: 0;
  width: 100%;
}

.demo-document__loading--hidden .carbon-spinner {
  display: none;
}

.demo-document__loading-leave,
.demo-document__loading-appear,
.demo-document__loading-enter,
.demo-document__loading-leave.demo-document__loading-leave-active {
  opacity: 0;
  transition: $doc-animation;
}

.demo-document__loading-appear.demo-document__loading-appear-active,
.demo-document__loading-enter.demo-document__loading-enter-active {
  opacity: 1;
  transition: $doc-animation;
}
