@import 'colors';
@import 'general';
@import 'mixins';

.ui-tooltip {
  background-color: $grey-dark;
  border-radius: 4px;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  color: $white;
  max-width: 960px;
  min-width: 100px;
  padding: 10px 7px;
  position: absolute;
  text-align: center;
}

.ui-tooltip__pointer {
  height: 12px !important; // overrides the arrow mixin
  position: absolute;
}

.ui-tooltip__pointer--align-center.ui-tooltip__pointer--position-top {
  top: -15px;
  left: -webkit-calc(50% - 7px);
  left:    -moz-calc(50% - 7px);
  left:         calc(50% - 7px);

  &:before {
    @include arrow(up, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-center.ui-tooltip__pointer--position-bottom {
  left: -webkit-calc(50% - 7px);
  left:    -moz-calc(50% - 7px);
  left:         calc(50% - 7px);
  bottom: -12px;

  &:before {
    @include arrow(down, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-left.ui-tooltip__pointer--position-top {
  top: -15px;
  left: 4%;

  &:before {
    @include arrow(up, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-left.ui-tooltip__pointer--position-bottom {
  left: 4%;
  bottom: -12px;


  &:before {
    @include arrow(down, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-right.ui-tooltip__pointer--position-bottom {
  top: -15px;
  right: 7%;

  &:before {
    @include arrow(up, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-right.ui-tooltip__pointer--position-bottom {
  right: 7%;
  bottom: -12px;

  &:before {
    @include arrow(down, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-center.ui-tooltip__pointer--position-right {
  right: 0px;
  top: 33%;

  &:before {
    @include arrow(right, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-center.ui-tooltip__pointer--position-left {
  left: -15px;
  top: 33%;

  &:before {
    @include arrow(left, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-top.ui-tooltip__pointer--position-right {
  right: 0px;
  top: 10%;

  &:before {
    @include arrow(right, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-bottom.ui-tooltip__pointer--position-left {
  left: -15px;
  bottom: 10%;

  &:before {
    @include arrow(left, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-bottom.ui-tooltip__pointer--position-right {
  right: 0px;
  bottom: 10%;

  &:before {
    @include arrow(right, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}

.ui-tooltip__pointer--align-top.ui-tooltip__pointer--position-left {
  left: -15px;
  top: 10%;

  &:before {
    @include arrow(left, $app-tooltip-pointer-size, $grey-dark);
    position: absolute;
  }
}
