@import 'colors';
@import 'general';
@import 'mixins';

.ui-tooltip {
  position: absolute;
  width: 300px;
  z-index: 20;
}

.ui-tooltip__container {
  background-color: $grey-dark-plus;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  max-width: 300px;
  word-break: normal;
  white-space: pre-wrap;
}

.ui-tooltip__pointer {
  position: absolute;
}

.ui-tooltip--position-bottom,
.ui-tooltip--position-top {
  text-align: center;

  &.ui-tooltip--pointer-align-left {
    text-align: left;
  }

  &.ui-tooltip--pointer-align-right {
    text-align: right;
  }
}

.ui-tooltip--position-left {
  text-align: right;
}

.ui-tooltip--position-right {
  text-align: left;
}

.ui-tooltip--pointer-align-center.ui-tooltip--position-bottom .ui-tooltip__pointer {
  @include calc(left, "50% - #{$app-tooltip-pointer-size}");
  top: -15px;

  &:before {
    @include arrow(up, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-center.ui-tooltip--position-top .ui-tooltip__pointer {
  @include calc(left, "50% - #{$app-tooltip-pointer-size}");
  bottom: 0;

  &:before {
    @include arrow(down, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-left.ui-tooltip--position-bottom .ui-tooltip__pointer {
  top: -15px;
  left: 10px;

  &:before {
    @include arrow(up, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-left.ui-tooltip--position-top .ui-tooltip__pointer {
  left: 10px;
  bottom: 0;


  &:before {
    @include arrow(down, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-right.ui-tooltip--position-bottom .ui-tooltip__pointer {
  top: -15px;
  right: 25px;

  &:before {
    @include arrow(up, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-right.ui-tooltip--position-top .ui-tooltip__pointer {
  right: 25px;
  bottom: 0;

  &:before {
    @include arrow(down, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-center.ui-tooltip--position-left .ui-tooltip__pointer {
  @include calc(top, "50% - #{$app-tooltip-pointer-size}");
  right: 0px;

  &:before {
    @include arrow(right, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-center.ui-tooltip--position-right .ui-tooltip__pointer {
  @include calc(top, "50% - #{$app-tooltip-pointer-size}");
  left: -15px;

  &:before {
    @include arrow(left, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-top.ui-tooltip--position-left .ui-tooltip__pointer {
  right: 0px;
  top: 10px;

  &:before {
    @include arrow(right, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-bottom.ui-tooltip--position-right .ui-tooltip__pointer {
  left: -15px;
  bottom: 25px;

  &:before {
    @include arrow(left, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-bottom.ui-tooltip--position-left .ui-tooltip__pointer {
  right: 0px;
  bottom: 25px;

  &:before {
    @include arrow(right, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}

.ui-tooltip--pointer-align-top.ui-tooltip--position-right .ui-tooltip__pointer {
  left: -15px;
  top: 10px;

  &:before {
    @include arrow(left, $app-tooltip-pointer-size, $grey-dark-plus);
    position: absolute;
  }
}
