@import 'colors';

.learn-more {
  background-color: $grey-dark-blue-10;
  padding: 60px 0 80px;

  &__cell {
    box-sizing: border-box;
    width: 40%;

    @media (max-width: 800px) {
      width: 100%;
    }
  }
}
