@import 'colors';

.learn-more {
  background-color: $grey-dark-blue-10;
  padding: 60px 0 80px;

  &__cell {
    box-sizing: border-box;
    &:first-of-type {
      margin-bottom: 40px;
      @media (min-width: 800px) {
        margin-bottom: 0;
      }
    }
    width: 100%;

    @media (min-width: 800px) {
      width: 40%;
    }
  }
}
