@import 'colors';
@import "../../../demo-variables";

.learn-more {
  background-color: $grey-dark-blue-10;
  padding: 40px 0 60px;

  &__cell {
    margin: 10px 0;

    @media(min-width: $response-point-medium) {
      width: 40%;
    }
  }
}
