// Remove the padding from the table cell
// and apply it to the drag icon instead.
// This gives us a bigger 'click' area on
// the drag icon for both mouse and touch.
.draggable-table-cell {
  padding: 0;
  width: 21px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;

  &.carbon-table-cell:first-child {
    padding-left: 0;
  }
}

.draggable-table-cell__icon {
  cursor: move;
  padding: 8.5px 14px;

  .carbon-table-row--dragging &,
  .carbon-table-row--dragged,
  .custom-drag-layer & {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
