@import "./../../style-config/colors";
@import "./../../style-config/buttons";
@import "./../../style-config/z-index";

.carbon-multi-action-button--align-right {
  .carbon-multi-action-button__additional-buttons {
    right: 0;

    .carbon-button {
      padding-left: 25px;
      padding-right: 25px;
      text-align: right;
    }
  }
}

.carbon-multi-action-button {
  .carbon-multi-action-button__toggle {
    width: auto;
    border: $carbon-button__border--secondary;
    border-radius: $carbon-button__border-radius;
    box-sizing: border-box;
    padding: 7px 8px 7px 15px;
    position: relative;
    z-index: $z-split-button + 1;

    &.carbon-button--disabled {
      border-color: $carbon-button__border-color--disabled;
    }

    &--primary {
      border: none;
    }
  }

  .carbon-multi-action-button__additional-buttons {
    border-radius: $carbon-button__border-radius;
    padding-top: 10px;
    top: 29px;
    z-index: $z-split-button + 2;

    .carbon-button {
      padding-left: 15px;
      white-space: nowrap;
    }
  }

  .carbon-multi-action-button__toggle--transparent:not(.carbon-button--disabled) {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid transparent;
    color: $grey-dark-blue-80;

    .carbon-multi-action-button--open & {
      background-color: transparent;
      border: 1px solid transparent;
      color: $grey-dark-blue-80;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border-color: transparent;
      color: $grey-dark-blue-80;
    }
  }

  .carbon-multi-action-button__additional-buttons--transparent {
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);

    .carbon-button {
      color: $grey-dark-blue-80;

      &:focus {
        background-color: white;
        color: $grey-dark-blue-80;
        box-shadow: none;
        outline: 0;
      }

      &:hover,
      &:active {
        background-color: $grey-light;
        color: $blue-light;
      }
    }
  }

  .carbon-icon {
    &.icon-dropdown {
      top: -1px;
    }
  }
}

.carbon-multi-action-button--open {
  .carbon-multi-action-button__toggle {
    border-color: $carbon-button__background-color--primary--hover;
    border-bottom-left-radius: 0;
    z-index: $z-split-button + 3;
  }
}
