@import 'colors';
@import 'buttons';
@import 'z-index';

.ui-multi-action-button--align-right {
  .ui-multi-action-button__additional-buttons {
    right: 0;

    .ui-button {
      padding-left: 25px;
      padding-right: 25px;
      text-align: right;
    }
  }
}

.ui-multi-action-button {
  .ui-multi-action-button__toggle {
    width: auto;
    border: $ui-button__border--secondary;
    border-radius: $ui-button__border-radius;
    box-sizing: border-box;
    padding: 7px 8px 7px 15px;
    position: relative;
    z-index: $z-split-button + 1;

    &.ui-button--disabled {
      border-color: $ui-button__border-color--disabled;
    }
  }

  .ui-multi-action-button__additional-buttons {
    border-radius: $ui-button__border-radius;
    padding-top: 35px;
    top: 0;
    z-index: $z-split-button + 2;

    .ui-button {
      padding-left: 15px;
      white-space: nowrap;
    }
  }

  .ui-multi-action-button__toggle--transparent:not(.ui-button--disabled) {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid transparent;
    color: $grey-dark-blue-80;

    .ui-multi-action-button--open & {
      background-color: transparent;
      border: 1px solid transparent;
      color: $grey-dark-blue-80;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      box-shadow: none;
      border-color: transparent;
      color: $grey-dark-blue-80;
    }
  }

  .ui-multi-action-button__additional-buttons--transparent {
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);

    .ui-button {
      color: $grey-dark-blue-80;

      &:focus {
        background-color: white;
        color: $grey-dark-blue-80;
        box-shadow: none;
        outline: 0;
      }

      &:hover,
      &:active {
        background-color: $grey-light;
        color: $blue-light;
      }
    }
  }
}

.ui-multi-action-button--open {
  .ui-multi-action-button__toggle {
    border-color: $ui-button__background-color--primary--hover;
    border-bottom-left-radius: 0;
    z-index: $z-split-button + 3;
  }
}
