@import 'colors';
@import 'general';
@import 'mixins';
@import 'z-index';
@import 'input-field';

/* ui-button */
$ui-multi-action-button__border-radius: 4px !default;
$ui-multi-action-button__font-weight: bold !default;
$ui-multi-action-button__padding: 7px 18px !default;

/* ui-button--primary */
$ui-multi-action-button__background-color--primary: $blue !default;
$ui-multi-action-button__border--primary: 1px solid transparent !default;
$ui-multi-action-button__text-color--primary: $white !default;

/* ui-button--primary--hover */
$ui-multi-action-button__background-color--primary--hover: $blue-bright !default;

/* ui-button--primary--active */
$ui-multi-action-button__background-color--primary--active: $blue-dark !default;
$ui-multi-action-button__border-color--primary--active: $blue-dark !default;
$ui-multi-action-button__text-color--primary--active: $white !default;

.ui-multi-action-button__button {
  border-radius: $ui-multi-action-button__border-radius;
  cursor: pointer;
  display: inline-block;
  font-size: $app-font-size;
  font-weight: $ui-multi-action-button__font-weight;
  color: $ui-multi-action-button__text-color--primary--active;
  padding: $ui-multi-action-button__padding;
  outline: none;
  background-color: $ui-multi-action-button__background-color--primary;
  border: $ui-multi-action-button__border--primary;

  &:focus,
  &:hover {
    background-color: $ui-multi-action-button__background-color--primary--hover;
    @include transition(box-shadow linear 0.1s)
    box-shadow: 0 0 6px rgba(25,99,246,0.6);
  }

  &:active {
    background-color: $ui-multi-action-button__background-color--primary--active;
    border-color: $ui-multi-action-button__border-color--primary--active;
    color: $ui-multi-action-button__text-color--primary--active;
  }
}

.ui-multi-action-button{
  position: relative;
  button {
    width: 100%;
  }
}

.ui-multi-action-button__list-block{
  left: 0;
  position: absolute;
  right: 0;
  z-index: $z-dropdown-list;
}

.ui-multi-action-button__list {
  background-color: $ui-multi-action-button__background-color--primary;
  color: $white;
  cursor: pointer;
  max-height: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ui-multi-action-button__list-item {
  padding: 5px 6px;
  &:focus,
  &:hover {
    background-color: $ui-multi-action-button__background-color--primary--hover;
    @include transition(box-shadow linear 0.1s)
    box-shadow: 0 0 6px rgba(25,99,246,0.6);
  }
}

.ui-multi-action-button__icon{
  border-left: 1px solid $ui-multi-action-button__background-color--primary--hover;
  bottom: 1px;
  box-sizing: border-box;
  color: $blue-dark;
  cursor: pointer;
  height: $input-common-height - 2;
  margin-top: 1px;
  padding: 6px 0;
  position: absolute;
  right: 1px;
  text-align: center;
  width: $input-common-height;

  &:hover {
    background-color: $blue-bright;
    border-color: $blue-bright;
    color: $white;
  };
}