.ui-portrait {
  display: inline-block;
  vertical-align: middle;
}

.ui-portrait__initials {
  position: absolute;
}

.ui-portrait__avatar {
  display: inline-block;
  position: relative;
}

.ui-portrait__img {
  float: left;
}

.ui-portrait--standard .ui-portrait__img {
  border-radius: 5px;
}

.ui-portrait--circle .ui-portrait__img {
  border-radius: 50%;
}

.ui-portrait--leaf .ui-portrait__img {
  border-radius: 10% 40% 10%;
}

.ui-portrait--extra-small,
.ui-portrait--extra-small .ui-portrait__img {
  width: 25px;
  height: 25px;
}

.ui-portrait--small,
.ui-portrait--small .ui-portrait__img {
  width: 30px;
  height: 30px;
}

.ui-portrait--medium-small,
.ui-portrait--medium-small .ui-portrait__img {
  width: 50px;
  height: 50px;
}

.ui-portrait--medium,
.ui-portrait--medium .ui-portrait__img {
  width: 60px;
  height: 60px;
}

.ui-portrait--medium-large,
.ui-portrait--medium-large .ui-portrait__img {
  width: 70px;
  height: 70px;
}

.ui-portrait--large,
.ui-portrait--large .ui-portrait__img {
  width: 100px;
  height: 100px;
}

.ui-portrait--extra-large,
.ui-portrait--extra-large .ui-portrait__img {
  width: 120px;
  height: 120px;
}
