.ui-portrait--standard {
  border-radius: 5px;
}

.ui-portrait--circle {
  border-radius: 50%;
}

.ui-portrait--leaf {
  border-radius: 10% 40% 10%;
}

.ui-portrait--small {
  width: 30px;
  height: 30px;
}

.ui-portrait--smed {
  width: 50px;
  height: 50px;
}

.ui-portrait--lmed {
  width: 70px;
  height: 70px;
}

.ui-portrait--large {
  width: 100px;
  height: 100px;
}
