@import "colors";
@import "tables";

$table-header-color: #636872;
$table-header-border-color: #8A8E95;
$table-header-border-top-color: $border-color;
$table-header-border-bottom-color: $border-color;

.ui-input-grid {
  border: 1px solid $border-color {
    collapse: separate;
    radius: 4px;
    spacing: 0;
  }
  width: 100%;
}

.ui-input-grid__header {
  background-color: $table-header-color;
  border-top-color: $table-header-border-top-color;
  border-bottom-color: $table-header-border-bottom-color;
  color: $white;
  height: 36px;
  text-align: left;
}

.ui-input-grid__header-cell {
  border-right: 1px solid $table-header-border-color;
  padding: 0 8px;
  vertical-align: middle;

  &:first-child {
    border-radius: $tables__border-radius 0 0 0;
  }

  &:last-child {
    border-radius: 0 $tables__border-radius 0 0;
    border-right: none;
  }
}

.ui-input-grid__header-cell--narrow {
  width: 160px;
}
