@import 'colors';

$link-color: $blue !default;
$link-hover-color: $blue-dark !default;
$link-hover-text-decoration: underline !default;

a.ui-link {
  color: $link-color;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: $link-hover-text-decoration;
    color: $link-hover-color;
  }
}

a.ui-link--disabled {
  color: $grey-dark;
  cursor: default;
  pointer-events: none;
  text-decoration: none;

  //for IE
  &:hover {
    text-decoration: none;
    color: $grey-dark;
  }
}
