@import 'colors';
@import 'z-index';

$banner-border: 1px solid !default;
$banner-border-radius: 4px !default;
$banner-width: 300px !default;

.ui-banner {
  position: relative;
  border: $banner-border;
  margin-bottom: 20px;
}

.ui-banner__type {
  height: 100%;
  margin-top: 0;
  position: absolute;
  width: 30px;
  text-align: center;

  .ui-banner__type-icon {
    display: block;
    position: relative;
    top: 50%;

    &:before {
      color: #FFF;
      display: block;
      font-size: 24px;
      margin-top: -6px;
    }
  }

  .ui-icon__svg {
    height: 24px;
    margin-top: -12px;
    width: 30px;

    .ui-icon__svg-group {
      fill: $white;
    }
  }
}

.ui-banner__close {
  cursor: pointer;
}

.ui-banner__content {
  padding: 15px 50px;
  white-space: pre-wrap;
}

.ui-banner__title {
  font-weight: bold;
}

@mixin banner-theme($type, $color, $border, $background, $color-hover) {
  .ui-banner--#{$type} {
    background-color: $background;
    border-color: $border;

    .ui-banner__type {
      background-color: $color;
    }

    .ui-banner__title {
      color: $color;
      margin-bottom:3px;
    }
  }
}

@each $set in $colorIconSets {
  @include banner-theme($set...);
}
