@import 'colors';

.ui-message {
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui-message--info {
  @extend .ui-message;
  background-color: $green-mid;
}

.ui-message--warning {
  @extend .ui-message;
  background-color: $orange;
}

.ui-message__content {
  font-family: HelveticaNeue-Bold;
  font-size: 12px;
  color: white;
}
