@import 'colors';
@import 'z-index';

$message-border: 1px solid !default;
$message-border-radius: 3px !default;
$message-width: 300px !default;

.ui-message {
  border-radius: $message-border-radius;
  position: relative;
  border: $message-border;
  margin-bottom: 20px;
}

.ui-message__type {
  border-radius: $message-border-radius 0 0 $message-border-radius;
  height: 100%;
  margin-top: 0;
  position: absolute;
  width: 30px;
  text-align: center;

  .ui-icon__svg {
    height: 24px;
    margin-top: -12px;
    width: 30px;

    .ui-icon__svg-group {
      fill: $white;
    }
  }
}

.ui-message__type-icon {
  display: block;
  position: relative;
  top: 50%;

  &:before {
    color: $white;
    display: block;
    font-size: 24px;
    margin-top: -6px;
  }
}

.ui-message__close {
  cursor: pointer;
  margin-top: -8px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 45px;
}

.ui-message__content {
  padding: 15px 50px;
  white-space: pre-wrap;
}

.ui-message__title {
  font-weight: bold;
}

@mixin message-theme($type, $color, $border, $background, $color-hover) {
  .ui-message--#{$type} {
    background-color: $background;
    border-color: $border;

    .ui-message__type {
      background-color: $color;
    }

    .ui-message__title {
      color: $color;
      margin-bottom: 3px;
    }

    .ui-message__close {
      color: $color;
    }
  }

  .ui-message--#{$type}.ui-message--transparent {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;

    .ui-message__content{
      padding: 2px 5px 2px 35px;
    }

    .ui-message__type {
      background-color: transparent;

      .ui-icon__svg {
        .ui-icon__svg-group {
          fill: $color;
        }
      }

      .ui-message__type-icon {
        top: 8px;
        &:before {
          color: $color;
        }
      }
    }

    .ui-message__close{
      top: 8px;
    }
  }

  .ui-message--#{$type}.ui-message--transparent.ui-message--dismissable {
    .ui-message__content{
      padding: 2px 35px;
    }
  }
}


@each $set in $colorIconSets {
  @include message-theme($set...);
}
