name: CI

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ">=16.16.0 16"
      - run: npm ci
      - run: npx prettier --check './src/**/*.js'
      - run: npm run lint
      - run: npm run type-check
  test:
    strategy:
      matrix:
        node: [14, 16]
    runs-on: ubuntu-latest    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm test
