name: Forked CI
on:
  workflow_dispatch:
    inputs:
      number:
        description: "Pull Request Number"
        required: true
jobs:
  trigger-chromatic:
    runs-on: ubuntu-latest
    steps:
      - uses: octokit/request-action@v2.x
        id: dispatch_chromatic
        with:
          route: POST /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches
          owner: ${{ github.event.repository.owner.login }}
          repo: ${{ github.event.repository.name }}
          workflow_id: "chromatic.yml"
          ref: "master"
          inputs: '{"number": "${{ github.event.inputs.number }}"}'
        env:
          GITHUB_TOKEN: ${{ secrets.CYPRESS_WORKFLOW_TOKEN }}

  trigger-cypress:
    runs-on: ubuntu-latest
    steps:
      - uses: octokit/request-action@v2.x
        id: dispatch_cypress
        with:
          route: POST /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches
          owner: ${{ github.event.repository.owner.login }}
          repo: ${{ github.event.repository.name }}
          workflow_id: "cypress.yml"
          ref: "master"
          inputs: '{"number": "${{ github.event.inputs.number }}"}'
        env:
          GITHUB_TOKEN: ${{ secrets.CHROMATIC_WORKFLOW_TOKEN }}

  trigger-playwright:
    runs-on: ubuntu-latest
    steps:
      - uses: octokit/request-action@v2.x
        id: dispatch_playwright
        with:
          route: POST /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches
          owner: ${{ github.event.repository.owner.login }}
          repo: ${{ github.event.repository.name }}
          workflow_id: "playwright.yml"
          ref: "master"
          inputs: '{"number": "${{ github.event.inputs.number }}"}'
        env:
          GITHUB_TOKEN: ${{ secrets.PLAYWRIGHT_WORKFLOW_TOKEN }}
