name: Lint Commit Messages

on: pull_request

jobs:
  commitlint:
    # this will only run on non-forked PRs
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - id: checkout_pr
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: setup_node
        uses: actions/setup-node@v3
        with:
          node-version: ">=20.9.0 20"
      - id: install_dependencies
        run: npm ci
      - id: lint_commits
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
