@import "colors";
@import "./../../style-config/demo-variables";

.chrome {
  background-color: $grey-dark-blue-5;
  @media(min-width: $menu-popout-point) {
    padding-left: $menu-width;
  }
  .demo-menu {
    @media(min-width: $menu-popout-point) {
      position: relative;
    }
  }
}
