@import "colors";

.app-footer {
  background-color: $grey-dark-blue;
  bottom: 0;
  color: $white;
  height: 80px;
  position: relative;
  width: 100%;

  .app-footer__download-button {
    margin-left: 16px;
  }

  .app-footer__sage-icon {
    background-image: url('/assets/images/sage_logo.svg');
    background-position-x: 95%;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
    margin-bottom: 5px;
  }

  .app-footer__legal {
    display: inline-block;
    margin-top: 20px;
    position: relative;
    right: 0;
    text-align: right;
    width: 50%;
  }

  .app-footer__icons {
    box-sizing: border-box;
    display: inline-block;
    left: 0;
    padding-left: 35px;
    position: relative;
    width: 50%;

    .carbon-icon {
      margin-right: 25px;
    }

    .carbon-link__anchor {
      color: currentColor;
    }
  }

  .legal__text {
    margin-right: 45px;
  }
}
